/*---

Clickable buttons:

```
<div class="button-wrapper">
	<button class="button">Button</button>
</div>

<div class="button-wrapper">
	<a href="#0" class="button">Button (link)</a>
</div>
```

Alternate styles using `secondary`, `positive` and `negative` modifiers:

```
<div class="button-wrapper">
	<button class="button button--secondary">Button: Secondary</button>
</div>

<div class="button-wrapper">
	<button class="button button--positive">Button: Positive</button>
</div>

<div class="button-wrapper">
	<button class="button button--negative">Button: Negative</button>
</div>
```

And sized using `large` and `small`:

```
<div class="button-wrapper">
	<button class="button button--large">Button: Large</button>
</div>

<div class="button-wrapper">
	<button class="button button--small">Button: Small</button>
</div>
```

Other states:

```
<div class="button-wrapper">
	<button class="button" disabled>Button: Disabled</button>
</div>

<div class="button-wrapper">
	<button>Unstyled button</button>
</div>
```

*/

// basic buttons
.bootstrap-select {
    >select.mobile-device:focus {
        +.dropdown-toggle,
        .bootstrap-select {
            .dropdown-toggle {
                &:focus {
                    border-color: #009cde !important;
                }
            }
        }
    }
}

.bootstrap-select {
    &:not([class*="col-"]) {
        &:not([class*="form-control"]) {
            &:not(.input-group-btn) {
                width: 100%;
            }
        }
    }
}

.bootstrap-select {
    .dropdown-toggle {
        .filter-option-inner-inner {
            color: #000000;
            font-size: 13px;
        }
        line-height: normal;
    }
    >select.mobile-device:focus {
        +.dropdown-toggle,
        .bootstrap-select .dropdown-toggle:focus {
            outline: none!important;
        }
    }
    .dropdown-menu li a.active,
    a:active {
        background: #cccccc;
        span {
            &.text {
                color: #9b176e;
            }
        }
    }
    &.bs-container {
        .dropdown-menu {
            border-radius: 0;
        }
    }
    .dropdown-menu {
        li {
            &:not(:last-child) {}
        }
    }
    .dropdown-menu {
        li {
            a {
                span {
                    &.text {
                        color: #aaaaaa;
                        font-size: rem(14px);
                    }
                }
            }
        }
    }
}

.btn-light:focus {
    box-shadow: none;
}

.btn.disabled,
.btn:disabled {
    opacity: 0.4;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    &:focus {
        box-shadow: none !important;
    }
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none !important;
    border-color: #9b176e;
    background-color: #9b176e;
    color: #ffffff!important;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    background: transparent !important;
    border: 0 !important;
    outline: none !important;
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
    box-shadow: none!important;
    border: 1px solid var(--primary) !important;
}

.bootstrap-select>select.mobile-device:focus+.dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
}

.button-row {
    text-align: center;
    margin: rem(15px) auto auto auto;
    @media screen and (max-width: 414px) {
        margin: rem(20px) 0;
    }
}

.btn {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 0;
    outline: none;
    line-height: 1;
    border-radius: 45px;
    transition: all .5s ease;
    font-size: rem(14px);
    padding: rem(17px) rem(70px);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: $mon;
    font-weight: 600;
    &.lg {
        min-width: 280px;
    }

    &:focus {
        outline: none;
        box-shadow: none;
        text-decoration: none;
    }
    &.btn-default {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        color: #06314e;
        
        &:hover {
            border-color: #06314e;
            background-color: #06314e;
            color: #ffffff!important;
        }
    }

    // &.btn-primary {
    //     color: white!important;
    //     background: #9b176e;
    //     text-transform: capitalize;
    //     border: 1px solid transparent;
    //     &.lg {
    //         text-transform: uppercase;
    //         font-size: rem(16px);
    //         letter-spacing: 2px;
    //         padding: rem(13px) rem(25px);
    //         min-width: rem(125px);
    //     }
    //     &:not(:disabled):hover {
    //         opacity: .8;
    //         color: #9b176e!important;
    //         background: white;
    //         border-color: #9b176e;
    //         //box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
    //     }
    // }
    &.btn-primary {
        background-color: #06314e;
        border: 1px solid #06314e;
        color: #ffffff;
        
        &:hover {
            border-color: #99d1eb;
            background-color: #99d1eb;
            color: #06314e!important;
        }
    }
}

.bootstrap-select {
    >.dropdown-toggle {
        position: relative;
        background-color: transparent;
        outline: none !important;
        padding: 0px;
        padding-left: rem(25px);
        padding-right: rem(30px);
        .filter-option-inner-inner {
            color: #000000;
            font-size: 13px;
        }
        &::after {
            content: '\f107';
            font-family: 'Font Awesome 5 Free';
            color: #000000;
            background: none;
            border: none;
            font-size: 15px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -15px;
            font-weight: 700;
        }
    }
}

.form-group {
    .bootstrap-select {
        >.dropdown-toggle {
            height: 42px;
            border: solid 1px #cccccc;
            padding: 9px;
            .filter-option-inner-inner {
                line-height: normal;
                font-size: rem(16px);
            }
            &:after {
                right: 10px;
                top: 58%;
            }
        }
    }
    .btn-light:not(:disabled):not(.disabled).active,
    .btn-light:not(:disabled):not(.disabled):active,
    .show>.btn-light.dropdown-toggle {
        border: 1px solid var(--primary)!important;
    }
}

.radio {
    label {
        padding-left: 0px;
        margin: 0;
        //cursor: pointer;
        &:not(:last-child) {
            margin-right: rem(50px);
        }
    }
    input[type="radio"] {
        display: none;
        +span {
            display: inline-block;
            line-height: normal;
            position: relative;
            font-size: 14px;
            color: #000000;
            padding-left: 35px;
            text-transform: uppercase;
            min-height: 14px;
            img {
                vertical-align: text-top;
                margin-left: rem(3px);
            }
            &:after {
                content: "";
                width: 22px;
                height: 22px;
                background: transparent;
                border: 1px solid #dbdbdb;
                border-radius: 50%;
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &:checked {
            +span {
                color: #a02376;
                &:after {}
                &:before {
                    background: url(../images/icons.png) 0px -22px no-repeat;
                    top: 50%;
                    left: 6px;
                    transform: translateY(-50%);
                    content: '';
                    width: 12px;
                    height: 10px;
                    position: absolute;
                    z-index: 9;
                }
            }
        }
        &:disabled {
            +span {
                background: #e8e5e5;
                pointer-events: none;
                opacity: .6;
            }
        }
    }
}

.checkbox {
    margin: 0;
    padding: 0;
    padding-bottom: rem(15px);
    label {
        padding-left: 0px;
        margin: 0;
        //cursor: pointer;
        &:not(:last-child) {
            margin-right: rem(50px);
        }
    }
    input[type="checkbox"] {
        display: none;
        +span {
            display: inline-block;
            line-height: normal;
            position: relative;
            font-size: 14px;
            color: #000000;
            padding-left: 30px;
            text-transform: uppercase;
            min-height: 14px;
            &.text-capt {
                text-transform: capitalize;
            }
            img {
                vertical-align: text-top;
                margin-left: rem(3px);
            }
            &:after {
                content: "";
                width: 19px;
                height: 19px;
                background: transparent;
                border: 1px solid #cccccc;
                border-radius: 0;
                position: absolute;
                top: 0px;
                left: 0px;
            }
            .count {
                color: #999999;
            }
        }
        &:checked {
            +span {
                color: #a02376;
                &:after {}
                &:before {
                    background: url(../images/icons.png) 0px -22px no-repeat;
                    top: 50%;
                    left: 4px;
                    transform: translateY(-42%);
                    content: '';
                    width: 12px;
                    height: 10px;
                    position: absolute;
                    z-index: 9;
                }
            }
        }
        &:disabled {
            +span {
                background: #e8e5e5;
                pointer-events: none;
                opacity: .6;
            }
        }
    }
}

.dropdown-toggle::after {
    // color: $link-hover-color;
    content: none;
}

.dropdown {
    .dropdown-menu {
        border: 0;
        border-radius: 0;
        box-shadow: 0px -1px 4px 1px rgba(196, 196, 196, 1);
        margin-top: 0px;
        padding: 0;
        .dropdown-item:focus,
        .dropdown-item:hover {
            //background: #dbe8fe;
            background: var(--primary);
            color: white;
            span.text {
                color: #fff;
            }
        }
        .dropdown-item {
            padding: 0.530rem rem(10px);
            &:not(:last-child) {
                border-bottom: 1px solid #f2f2f2;
            }
        }
    }
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: pointer;
    display: block;
    z-index: 99999;
}

.bootstrap-select {
    >select.mobile-device:focus+.dropdown-toggle,
    .bootstrap-select .dropdown-toggle:focus {
        outline: none !important;
    }
}