fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input,
select,
textarea {
    appearance: none;
    background-clip: border-box;
    margin: 0;
    outline: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
    width: auto;
    height: auto;
}

input[type='checkbox'] {
    appearance: checkbox;
}

input[type='radio'] {
    appearance: radio;
}

textarea,
select[size],
select[multiple] {
    height: auto;
}

form {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: rem(30px);
    position: relative;
    &.telephone {
        display: flex;
        flex-wrap: wrap;
        .bootstrap-select {
            min-width: 80px;
            width: auto!important;
        }
        .form-control {
            border-left: 1px solid transparent;
            width: calc(100% - 80px);
        }
    }
}




.control-label {
    font-size: rem(12px);
    color: #a8acb9;
    margin-bottom: rem(12px);
    text-transform: uppercase;
    font-family: $mon;
    padding-left: rem(16px);
    letter-spacing: 1px;
}

.form-control {
    position: relative;
    height: rem(42px);
    font-size: rem(14px);
    color: #4f5362;
    background-color: #eff0f4;
    font-family: $mon;
    outline: none;
    padding: 9px;
    //padding-left: rem(27px);
    padding-left: rem(20px);
    outline: none;
    border: solid 1px #eff0f4;
    border-radius: 30px;
    transition: all 0.2s;
    -webkit-appearance: none!important;
    &.active {
        outline: none;
        box-shadow: none;
        border-radius: 0;
    }
    &::placeholder {
        opacity: .3;
    }
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: var(--primary)!important;
    }
    &:read-only {
        background: #fff;
    }
}

.form-control:placeholder-shown+label {
    cursor: text;
    //max-width: 66.66%;
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translate(6px, -10px) scale(1.1);
}

.form-control:not(:placeholder-shown)+label,
.form-control:not(:placeholder-shown)+label,
.form-control:focus+label {
    transform: translate(0px, -25px) scale(1);
    cursor: pointer;
}

//css for ie
.form-control:-ms-input-placeholder+label {
    cursor: text!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    transform: translate(6px, -10px) scale(1.1)!important;
}

.form-control:not(:-ms-input-placeholder)+label,
.form-control:not(:-ms-input-placeholder)+label,
.form-control:focus+label {
    transform: translate(0px, -25px) scale(1)!important;
    cursor: pointer!important;
}

//css for ie
::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.footer-wrapper .footer .contact .form-control:-ms-input-placeholder {
    color: transparent!important;
    transition: inherit!important;
}




textarea {
    &.form-control {
        resize: none;
        height: rem(80px);
        border-radius: 8px;
    }
}