/*

	Basic, low level typography

*/

$typography-elems: 'p',
'ul',
'ol';
$media-elems: '.blockquote',
'.button-wrapper',
'.media',
'.table-wrapper';
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: $rel-spacing-unit;
    line-height: 1;
    &:first-child {
        margin-top: 0;
    }
}

h1 {
    @include font-size($h--1);
}

h2 {
    @include font-size($h--2);
}

h3 {
    @include font-size($h--3);
}



p {
    color: var(--textPrimary);
    font-size: rem(16px);
    margin-bottom: rem(20px);
    line-height: 1.3;
    margin-top: 0px;
    font-weight: 300;
}

li {
    font-weight: 300;
}

// Basic typography styling
#{$typography-elems},
#{$media-elems} {
    margin-bottom: $rel-spacing-unit;
    &:last-child {
        //margin-bottom: 0;
    }
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

// Stylistic elements
b,
strong {
    font-weight: $w--bold;
}

small {
    font-size: 80%;
}

@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}