// .mp-pusher {
//     &:not(.mp-pushed) {
//         .header-fixed {
//             left: 0;
//         }
//     }
// }

.header-fixed{
    // position: fixed;
    position: absolute;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 999;
    // background:blue; 
    // &:after {
    //     border-bottom: 3px solid #870539;
    //     width: 0%;
    //     left: 0;
    //     right: 0;
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     bottom: -3px;
    //     margin: 0 auto;
    //     -webkit-transform: scale(0,0);
    //     -moz-transform: scale(0,0);
    //     -ms-transform: scale(0,0);
    //     -o-transform: scale(0,0);
    //     transform: scale(0,0);
    //     -moz-transform-style: preserve-3d;
    //     -webkit-transition-property: all;
    //     -moz-transition-property: all;
    //     -ms-transition-property: all;
    //     -o-transition-property: all;
    //     transition-property: all;
    //     -webkit-transition-timing-function: linear;
    //     -moz-transition-timing-function: linear;
    //     -ms-transition-timing-function: linear;
    //     -o-transition-timing-function: linear;
    //     transition-timing-function: linear;
    //     -webkit-transition-duration: 2s;
    //     -moz-transition-duration: 2s;
    //     -ms-transition-duration: 2s;
    //     -o-transition-duration: 2s;
    //     transition-duration: 2s;
    //     -webkit-transition-delay: 0s;
    //     -moz-transition-delay: 0s;
    //     -ms-transition-delay: 0s;
    //     -o-transition-delay: 0s;
    //     transition-delay: 0s;
    //     -webkit-transform-style: preserve-3d;
    //     transform-style: preserve-3d;
    //     -webkit-backface-visibility: hidden;
    //     backface-visibility: hidden;
    // }
    header {
        //position: fixed;
        position: relative;
        top: 0;
        left: 0;
        //z-index: 1000;
        width: 100%;
        padding: rem(30px) 0;
        // height: 97px;
        transition: .5s ease-out all;

        .logo {
            transition: .5s ease-out all;
            img {
                transition: all 0.6s ease;
                max-width: 65px;
            }
        }

        .menu-icon {
            position: relative;
            cursor: pointer;
            z-index: 999;
            // margin-right: 20px;
            span {
                width: 19px;
                height: 2px;
                background: #ffffff;
                display: block;
                margin-bottom: 4px;
                transition: all .3s;
                &:nth-child(3) {
                    position: relative;
                }
            }
            &:hover {
                span {
                    &:nth-child(3) {
                        width: 12px;
                    }
                }
            }
        }
        
        ul {
            justify-content: flex-end;
            li {
                position: relative;
                &:not(:last-child) {
                    margin-right: rem(47px);
                }
                a {
                    color: #ffffff;
                }
            }
        }
        
    }

    &.sticky{
        // &:after{
        //     width: 100%;
        //     -webkit-transform: scale(1,1);
        //     -moz-transform: scale(1,1);
        //     -ms-transform: scale(1,1);
        //     -o-transform: scale(1,1);
        //     transform: scale(1,1);
        //     -webkit-transform-style: preserve-3d;
        //     -moz-transform-style: preserve-3d;
        //     transform-style: preserve-3d;
        // }
        
    }

}




@media screen and (max-width:1199px) and (min-width:991px) {

}

