
   
    .footer {
        padding: rem(15px) 0; 
        background-color: var(--default);
        .foot-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                font-size: rem(14px);
                color: #ffffff;
                margin-bottom: 0;
            }
            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
            .social-nav {
                display: flex;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 767px) {
                    margin-top: rem(20px);
                }
                li {
                    &:not(:last-child) {
                        margin-right: rem(30px);
                        margin-bottom: 0;
                    }
                    a {
                        font-size: rem(15px);
                        color: #fdfdfe;
                        border: 1px solid #fdfdfe;
                        height: 30px;
                        width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100px;
                        &:hover {
                            opacity: .7;
                        }
                    }
                }
            }
        }

    }
   
     

    

@media screen and (max-width:1199px) and (min-width:991px) {}

@media screen and (max-width:767px) {
    
}