.ar body {
    /*font-family: "GE_SS_TEXT_LIGHT_1", "911Fonts_com_CenturyGothicRegular_911fonts_com" !important;*/
    font-family: "DroidArabicKufiRegular", "BogleWeb" !important;
    line-height: 1;
    font-size: 0.75rem;
    letter-spacing: normal!important;
}

html {
    font-size: 95%;
}

.mp-pusher {
    
    right: 0px;
    left: auto;
}

.mp-pusher.mp-pushed {
    right: 300px;
    left: auto;
}

.ar .mp-menu  {
    right: auto;
}

/*ie 11 updates */

.ar .mp-menu .mp-level {
    right: -100%;
    left: auto;
}

.ar .mp-menu .mp-level.mp-level-open {
    right: 0;
    left: auto;
}

/*ie 11 updates */
.ar .mp-menu  {
    right: -100%;
    left: auto;
}
.ar .mp-pushed .mp-menu {
    right: 0;
    left: auto;
}
/* safari updates */


/* safari updates */

.ar .mp-pusher:not(.mp-pushed) .header-fixed {
  right: 0; left: auto; }

.ar .control-label {
    text-align: right;
    font-family: "DroidArabicKufiRegular", "BogleWeb" !important; 
}

.ar .btn {
    font-family: "DroidArabicKufiRegular", "BogleWeb" !important;
}
.ar span.simple-font {
    font-family: "DroidArabicKufiRegular", "Arial" !important;
}
.ar input,
select,
textarea {
    text-align: right;
}

.ar .dropdown-menu.cart-dropdown p:not(.desc) {
    margin-right: 18px; margin-left: 0;
}
/*.ar .bootstrap-select > select { right: 50%; left: auto; }*/

.ar .bootstrap-select>.dropdown-toggle {
    text-align: left;
}

.ar .bootstrap-select .dropdown-toggle .filter-option {
    text-align: right;
    float: right;
    right: 0;
    left: auto;
}

.ar .dropdown .dropdown-toggle::after {
    left: 10px;
    right: auto;
}

.dropdown .dropdown-menu {
    left: 0;
    right: auto;
}

.text-left {
    text-align: right !important;
}

.form-control::placeholder {
    height: inherit;
    line-height: normal;
    vertical-align: middle;
}

.radio label {
    padding-right: 0;
}

.radio input[type="radio"]+span {
    padding-right: 35px;
    padding-left: 0;
    line-height: 1.2;
}

.radio input[type="radio"]+span:after {
    right: 0;
    left: auto;
}

.radio input[type="radio"]:checked+span:before {
    right: 3px;
    left: auto;
}

.checkbox label {
    padding-right: 0;
}

.checkbox input[type="checkbox"]+span {
    padding-right: 30px;
    padding-left: 0;
    line-height: 1.2;
}

.checkbox input[type="checkbox"]+span:after {
    right: 0;
    left: auto;
}

.checkbox input[type="checkbox"]:checked+span:before {
    right: 3px;
    left: auto;
}

.input-group {
    direction: ltr;
}

.text-right {
    text-align: left !important;
}

.ar .slick-slider {
    direction: rtl;
}

.ar .slick-slide {
    float: right;
}

.ar .slick-track {
    left: 0;
    right: auto;
}

.slick-dots li:not(:last-child) {
    margin-left: 9px;
    margin-right: 0;
}

.account-page .inner-wrapper form .inline-buttons.connect-social-sites .btn {
    text-align: right;
}

.account-page .inner-wrapper form .inline-buttons.connect-social-sites .btn i {
    margin-left: 0.75rem;
    margin-right: 0;
}

.account-page .inner-wrapper form .create-account a {
    padding-right: 1.5625rem;
    padding-left: 0;
}

.form-control {
    padding-left: 1.25rem;
    padding-right: 9px;
}


/*#mp-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}*/

.filter-reviews-wrapper .filter-reviews .delivery .radio-wrapper:not(:last-child) {
    margin-left: 0.9375rem;
    margin-right: 0;
}

.filter-reviews-wrapper .filter-reviews label {
    margin-left: 0.9375rem;
    margin-right: 0;
}

.reviews-wrapper .review .info {
    margin-left: 2.8125rem;
    margin-right: 0;
}

.reviews-wrapper .review .details .images .image:not(:last-child) {
    margin-left: 0.625rem;
    margin-right: 0;
}

ul.pagination li:not(:last-child) {
    margin-left: 1.5625rem;
    margin-right: 0;
}

.product-details .review-rating .rating-fixed {
    padding-left: 20px;
    padding-right: 0;
}

.jq-star-svg {
    padding-right: 3px;
    padding-left: 0;
}

.review-rating .dropdown:after {
    left: 0;
    right: auto;
}

.review-rating span.rating-count {
    margin-right: 12px;
    margin-left: 0;
}

.review-rating .rating-progress .rating-fixed {
    padding-left: 0 !important;
}

.product-details .review-rating .rating-fixed {
    padding-left: 20px;
    padding-right: 0;
}

.review-rating .rating-progress .progress {
    margin-right: 0.9375rem;
    margin-left: 0;
}

.review-rating .rating-progress .progress .progress__label {
    padding-right: 0.9375rem;
    left: 0;
    padding-left: 2px;
    top: -3px;
    right: auto;
}

.progress__label {
    float: left;
    text-align: left;
}

.product-details p.price span {
    margin-left: 0.3125rem;
    margin-right: 0;
}

.size-radio .radio:not(:last-child) {
    margin-left: 1.25rem;
    margin-right: 0;
}
.ar .product-slider .thumb-slider .image {
    
    padding-right: 2px;
    padding-left: 0;
}

/*26oct2020*/
.ar .product-slider .main-slider { float: left; }
.ar .product-slider .thumb-slider { float: right; }
@media screen and (min-width: 1024px) {
    .product-slider .main-slider {
        
        margin-right: 20px; margin-left: auto;
    }
}
/*26oct2020*/

/*before*/


/*foooter*/


/*foooter*/


/*header*/

.ar .form-group .bootstrap-select>.dropdown-toggle:after {
    left: 10px;
    right: auto;
}

.ar .dropup .dropdown-toggle::after {
    width: auto;
    height: auto;
}

h1 {
    margin: 0.67em 0;
}

.header-fixed header .header-wrapper .left-side .menu-icon {
    margin-left: 20px;
    margin-right: 0;
}

.header-fixed header .header-wrapper .search-bar form .form-control {
    padding-left: 2.1875rem;
    padding-right: 16px;
}

.header-fixed header .header-wrapper .search-bar form a.search-icon {
    left: 16px;
    right: auto;
    transform: translateY(-50%);
}

.header-fixed header .header-wrapper .right-side ul:first-child {
    margin-left: 1.375rem;
    margin-right: 0;
}

.header-fixed header .header-wrapper .right-side ul li:first-child {
    margin-left: 1.375rem;
    margin-right: 0;
}

.header-fixed header .header-wrapper .right-side ul:last-child li {
    padding-right: 1rem;
    padding-left: 0;
}

.header-fixed header .header-wrapper .right-side ul:last-child li.lang-selector {
    margin-left: 1rem;
    margin-right: 0;
}

.header-fixed header .header-wrapper .right-side ul:last-child li:before {
    right: 0;
    left: auto;
}

.header-fixed header .header-wrapper .right-side ul:last-child li.lang-selector a {
    font-family: "BogleWeb";
    text-transform: capitalize;
    font-size: 14px;
}

.header-fixed header .header-wrapper .right-side ul:last-child li.cart {
    padding-right: 0.75rem;
    padding-left: 0;
}

.header-fixed header .header-wrapper .right-side ul:last-child li.cart a span.count {
    font-family: "BogleWeb";
}

.dropdown-menu.cart-dropdown .cart-item .image {
    margin-left: 12px;
    margin-right: 0;
}

.dropdown-menu.cart-dropdown .cart-item .details ul {
    margin-left: 25px!important;
    margin-right: 0!important;
}

.dropdown-menu.cart-dropdown .cart-item .details .remove-cart-item {
    left: 0;
    right: auto;
}
.dropdown-menu.cart-dropdown .cart-item .details ul li.price {
    left: 0; right: auto;
}
.dropdown-menu.cart-dropdown .cart-subtotal ul {
    margin-left: 0!important;
}

.inline-buttons .btn:not(:last-child) {
    margin-left: 9px;
    margin-right: 0;
}

.dropdown-menu.cart-dropdown:after {
    left: 5px;
    right: auto;
}


/*header*/

.nav-links ul li:not(:last-child) {
    margin-left: 4.375rem;
    margin-right: 0;
}

.nav-links ul li .sub-menu .nav-tabs {
    padding-left: 0;
    padding-right: 15px;
}

.nav-tabs .nav-item:not(:last-child) {
    margin-left: 2.8125rem;
    position: relative;
    margin-right: 0;
}

.nav-links ul li .sub-menu .nav-tabs li:not(:last-child) {
    margin-left: 2.1875rem;
    margin-right: 0;
}

.nav-links ul li .sub-menu .tab-content .tab-pane .inner {
    padding-right: 18px;
    padding-left: 0;
}

.nav-links ul li .sub-menu .tab-content .tab-pane .inner ul:not(:last-child) {
    margin-left: 1.5625rem;
    margin-right: 0;
}

.nav-links ul li .sub-menu .tab-content .tab-pane .inner ul li:not(:last-child) {
    margin-left: 0;
}

.dropdown-menu.cart-dropdown {
    /*right: -150px !important; */
    left: -5px!important;
}

.mCS-dir-rtl>.mCSB_inside>.mCSB_container {
    margin-right: 0;
    margin-left: 0;
}

h2.section-title:before {
    right: 0;
    left: auto;
}

h2.section-title a.view-all {
    left: 2%;
    right: auto;
}

.shop-by-categories .slick-arrow.slick-prev {
    right: auto;
}

.trending .slick-arrow.slick-prev {
    right: auto;
}

.trending .desc p {
    padding-right: 10px;
    padding-left: 0;
}

.newsletter {
    background-position: 86% 38%;
}

h2 {
    letter-spacing: normal;
}

.newsletter .subcribe form .btn {
    margin-right: 0.9375rem;
    margin-left: 0;
    letter-spacing: normal;
}

.footer-wrapper .footer ul.payment-method li:not(:last-child) {
    margin-left: 1.25rem;
    margin-right: 0;
}
@media screen and (max-width:767px) {
    .footer-wrapper .footer ul.payment-method li:not(:last-child) {
         margin-left: 0rem;
    }
}

.scroll-up {
    left: 20px;
    right: auto;
}


/*.mp-pusher {
    right: 0; left: auto; }*/


/*.mp-menu { right: 0; left: auto;     -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
.mp-level { right: 0; left: auto; }
*/

.breadcrumbs-wrapper .breadcrumb .breadcrumb-item a img {
    margin-left: 5px;
    margin-right: 0;
}

.breadcrumb-item+.breadcrumb-item {
    padding-right: .5rem;
    padding-left: 0;
}

.breadcrumbs-wrapper .breadcrumb-item+.breadcrumb-item {
    padding-right: 10px;
    padding-left: 0;
}

.breadcrumbs-wrapper .breadcrumb-item+.breadcrumb-item::before {
    padding-left: 8px;
    padding-right: 0;
    font-size: 15px;
    top: 0px;
}

/*.size-radio .radio input[type="radio"]+span {
    padding-right: 0;
}*/

.choose-color .radio:not(:last-child) {
    margin-left: 1.25rem;
    margin-right: 0;
}

.choose-color .radio input[type="radio"]+span {
    padding-right: 0;
}

.choose-color .radio input[type="radio"]+span:after {
    right: auto;
}

.product-details .form-group.quantity label.control-label {
    margin-left: 1.875rem;
    margin-right: 0;
}

.order_history_page form .form-group .form-control[placeholder] {
    font-size: 1rem;
    width: 100%;
}

.product-details .form-group.quantity .bootstrap-touchspin.input-group {
    justify-content: flex-end;
}

.touchspin.form-control {
    padding-left: 10px;
    padding-right: 9px;
}

.product-details .button-row .btn span.icon {
    margin-right: 0.5625rem;
    margin-left: 0;
}

.product-checkout .product-desc h5 {
    text-align: right;
}

.rate-item h5 {
    text-align: right;
}

textarea {
    overflow: hidden;
}

textarea.form-control {
    padding: 9px;
    padding-left: 1.25rem;
}

.upload-panel .upload-btn:not(:last-child) {
    margin-left: 0.6875rem;
    margin-right: 0;
}

.filter-reviews-wrapper h5 {
    margin-left: 1.5625rem;
    margin-right: 0;
}

/*.left-menu ul li a {
    padding-right: 2.625rem;
    padding-left: 0;
}*/

/*.left-menu ul li a:before {
    right: 0;
    left: auto;
}*/

.left-menu ul li a span.icon {
    margin-left: 17px;
    margin-right: 0;
}

.form-group.telephone .form-control {
    border-right: 1px solid transparent;
    border-left: 1px solid #cccccc;
}

.dropdown-toggle::after {
    height: auto;
    width: auto;
    margin: 0;
}

.show-pages p {
    margin-left: 25px;
    margin-right: 0;
}

.show-pages ul li:not(:last-child) {
    margin-left: 22px;
    margin-right: 0;
}

.contact-page .contact-info {
    padding: 2.5rem 4.375rem 1.875rem 0.125rem;
}

.contact-page li.adress-img:before,
.contact-page li.tel-img:before,
.contact-page li.mail-img:before {
    right: -30px;
    left: auto;
    background-position: right!important;
}

.mp-level .close-icon {
    left: 20px;
    right: auto;
}

.mp-menu .user-heading,
.mp-menu .shop-category {
    text-align: right;
}

.mp-menu ul li>a.icon:after {
    left: 0;
    right: auto;
    transform: translateY(-50%) rotate(180deg);
}

.mp-menu .mp-back {
    padding-right: 25px;
    padding-left: 0;
}

.mp-menu .mp-back:after {
    right: -22px;
    left: auto;
}

.mp-menu .mp-back:before {
    right: 0%;
    left: auto;
    transform: translateY(-50%) rotate(180deg);
}

.custom-table .trow .table-cell {
    padding: 17px 0px 16px 10px;
}

.shopping-cart .custom-table .cart-item .item-image {
    margin-left: 1.25rem;
    margin-right: 0;
}

.cart-total {
    padding: 30px 20px 20px 12px;
}

h5.section-heading {
    text-align: right;
}

.payment-detail-box {
    padding-right: 1.5625rem;
    padding-left: 0.9375rem;
}

.detail-list ul li:last-child {
    text-align: right;
}

.detail-list ul li:last-child:before {
    right: -12px;
    left: auto;
}

.custom-table .thead .trow .table-cell {
    padding: 19px 0px 19px 10px;
}

.mr-13 {
    margin-left: 0.8125rem;
    margin-right: 0;
}

.order_history_page form .form-group label {
    margin-left: 0.625rem;
    margin-right: 0;
}

.order_history_page form .form-group .icon-holder span.icon {
    left: 10px;
    right: auto;
}

.order_history_page .order-num {
    margin-right: 1.25rem;
    margin-left: 0;
}

.order_history_page form .button-row .reset-btn {
    margin-right: 1rem;
    margin-left: 0;
}

.product-checkout.product-listing-modal {
    text-align: right;
}

.product-checkout.product-listing-modal .rate-item p,
.product-checkout.product-listing-modal .product-details p {
    text-align: right;
}

.product-checkout.product-listing-modal .product-desc {
    text-align: right;
}

.product-checkout.product-listing-modal .product-desc p {
    text-align: right;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    direction: ltr;
}

.ar .en {
    font-family: "BogleWeb";
}

.ar .touchspin.form-control {
    font-family: "BogleWeb";
}


/*generic*/


/*generic*/


/*letter spacig*/

.btn.btn-default.lg {
    letter-spacing: normal!important;
}

.btn.btn-primary.lg {
    letter-spacing: normal!important;
}

.btn.btn-file {
    letter-spacing: normal!important;
}

.btn.btn-secondary.lg {
    letter-spacing: normal!important;
}

.btn.btn-white {
    letter-spacing: normal!important;
}

h5 {
    letter-spacing: normal!important;
}

.heading {
    letter-spacing: normal!important;
}

.modal .modal-dialog .modal-content .modal-title {
    letter-spacing: normal!important;
}

.footer-wrapper .footer ul li .btn {
    letter-spacing: normal!important;
}

h2.section-title a.view-all {
    letter-spacing: normal!important;
}

.mp-menu .shop-category {
    letter-spacing: normal!important;
}

.main-banner .caption h1 {
    letter-spacing: normal!important;
}

.main-banner .caption .btn {
    letter-spacing: normal!important;
}

.breadcrumbs-wrapper .breadcrumb .breadcrumb-item {
    letter-spacing: normal!important;
}

.filters .filter-result {
    letter-spacing: normal!important;     margin-left: -1px; margin-right: 0;
}
@media screen and (min-width: 1500px) {
    .filters .filter-result {
        margin-left: -2px; margin-right: 0;
    }
}

.filters .filter-section a.main-title {
    letter-spacing: normal!important;
}

.account-page .inner-wrapper h1 {
    letter-spacing: normal!important;
}

.account-page .inner-wrapper form .button-row .btn {
    letter-spacing: normal!important;
}

.account-page .inner-wrapper form .inline-buttons.connect-social-sites .btn {
    letter-spacing: normal!important;
}

h5.section-heading {
    letter-spacing: normal!important;
}

p.order-successful {
    letter-spacing: normal!important;
}

.left-menu ul li a {
    letter-spacing: normal!important;
}

.stores .product-wrapper .product .desc p.brand-name {
    letter-spacing: normal!important;
}

.review-rating .dropdown .dropdown-menu .btn {
    letter-spacing: normal!important;
}

.forgot-pass h1 {
    letter-spacing: normal!important;
}

.join-page h1 {
    letter-spacing: normal!important;
}

.contact-page h1 {
    letter-spacing: normal!important;
}

.footer-wrapper .footer ul li i {
    margin-left: 3px;
    margin-right: 0;
}

ul.action-control {
    left: 1px;
    right: auto;
}

ul.action-control li:not(:last-child) a {
    border-left: 0;
    border-right: 1px solid #ebebeb;
}

ul.action-control li a {
    border-left: 0;
    border-right: 1px solid #ebebeb;
}

ul.action-control li a.set-default {
    border-right: 0;
}

.delivery .radio-wrapper div {
    padding: 1.5rem 1.375rem 1.25rem 3.75rem;
}

.profile-page .inner-content .custom-table .tbody .trow .table-cell:first-child {
    padding-right: 1.375rem;
    padding-left: 0;
}

p.order-successful span {
    margin-left: 18px;
    margin-right: 0;
}

p.order-successful span:before {
    right: 0;
    left: auto;
}

.payment-method ul li:not(:last-child) {
    margin-left: 2.5rem;
    margin-right: 0;
}

.radio input[type="radio"]+span img {
    margin-right: 0.1875rem;
    margin-left: 0;
}

.ar .bootstrap-select>.dropdown-toggle::after {
    left: -15px;
    right: auto;
}

.shopping-cart .color .bootstrap-select .dropdown-toggle:after {
    left: 8px;
    right: auto;
}

.bootstrap-select .dropdown-menu li {
    position: relative;
    text-align: left;
}

.filters .filter-result {
    box-shadow: 0 0px 0px 0px #f4f4f4, 140px 0 0px 0px #f4f4f4;
    border-left: 1px solid #dbdbdb;
    border-right: 0;
}

.product-wrapper .sort-by {
    box-shadow: -140px 0px 0px 0px #f4f4f4, 30px 0 0px 0px #f4f4f4;
}

.filters .filter-section {
    border-bottom: 1px solid #eeeeee;
    padding-left: 12px;
    padding-right: 0;
}

.filters .filter-section .category a.category-title {
    /*padding-right: 18px;*/
    padding-left: 12px;
}

.filters .filter-section .category a.category-title:before {
    right: 0;
    left: auto;
    transform: rotate(180deg);
}

.filters .filter-section .category .inner {
    padding-right: 25px;
    padding-left: 12px;
}

/*.filters .filter-section .category .inner ul li a.sub-item {
    padding-right: 10px;
    padding-left: 0;
}*/
/*new */
.filters .filter-section .category .inner ul li a.sub-item span {
    left: 0; right: auto; transform: rotate( 180deg );
}

@media screen and (min-width: 768px) {
    .filters .filter-section .category .inner ul li.has-submenu.has-sidemenu > ul {     left: -217px; right: auto; }
}
@media screen and (max-width: 767px) {
   .filters .filter-section .category .inner ul li.has-submenu.has-sidemenu > ul {  margin-right: 15px; margin-left: 0; }
}
/*new */

.filters .filter-section .category .inner ul li a.sub-item:before {
    right: 0;
    left: auto;
    transform: rotate(180deg);
}

.filters .filter-section .category .inner ul li.has-submenu .sub-menu {
    padding-right: 15px;
    padding-left: 0;
}

.filters {
    border-left: 1px solid #eeeeee;
    border-right: 0;
}

.filters .filter-section .category .inner .view-all {
    padding-right: 12px;
    padding-left: 0;
}

.filters .filter-section a.main-title {
    padding-right: 0px;
    padding-left: 12px;
}

.filters .filter-section a.main-title:after {
    left: 0;
    right: auto;
}

.filters .filter-section .pagination-alphabet {
    padding-right: 12px;
    padding-left: 4px;
}

.filters .filter-section .pagination-alphabet a {
    margin-left: 8px;
    margin-right: 0;
}

.filters .filter-section ul.brands li.checkbox input[type="checkbox"]:checked+span:before {
    right: 0;
    left: auto;
}

.slider.slider-horizontal.slider-rtl .slider-track {
    right: initial;
    left: 0;
}

.slider.slider-horizontal.slider-rtl .slider-tick,
.slider.slider-horizontal.slider-rtl .slider-handle {
    margin-right: initial;
    margin-left: -10px;
}

.product-wrapper .product .desc p {
    padding-right: 20px;
    padding-left: 0;
}

.product-wrapper .sort-by .sort-dropdown label {
    margin-left: 8px;
    margin-right: 0;
}

.modal .modal-dialog .modal-content .popup-cross-icon {
    left: 20px;
    right: auto;
}

.ar .product .hover-content a,
.ar .slide .hover-content a {
    letter-spacing: 0;
    font-size: .9rem;
}


/*letter spanovg*/

.ar .jq-star {
    transform: scaleX(-1);
}

/*.ar .reviews-wrapper .review .details .reviews-slider .slick-arrow.slick-next {
    right: -28px;
}
.ar .reviews-wrapper .review .details .reviews-slider .slick-arrow.slick-prev {
    left: -15px;
}*/


.ar .stores.inner-content form .form-group .bootstrap-select > .dropdown-toggle {
    padding-left: 22px; padding-right: 9px;
}

.ar .alert-dismissible .close {
    left: 0; right: auto;
}

.ar .dir-ltr {
    direction: ltr;
}

.ar .form-group.telephone .bootstrap-select > .dropdown-toggle .filter-option-inner-inner {
    direction: ltr;
}

.ar .form-group.telephone .dropdown .dropdown-menu .dropdown-item { direction: ltr; }

.ar .newsletter .wrapper > div .social-icons li:not(:last-child) {
    margin-left: 1.5625rem; margin-right: 0;
}

.ar .footer-wrapper .footer .foot-flex .social-icons li:not(:last-child) {
    margin-left: 1.25rem; margin-right: 0;
}

.ar .table-space { direction: ltr; }

.ar .zoomWindow { margin-left: -20px!important; }

/* RESPONSIVE */

@media screen and (max-width: 1200px) {
    .ar .zoomWindow { margin-left: -10px!important; }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .ar .left-menu ul li a {
        padding-right: 2.2rem;
        padding-left: 0;
    }
}

@media screen and (max-width: 991px) {
    .ar .reviews-wrapper .review .details .reviews-slider .slick-arrow.slick-next {
        right: -15px;
    }
    .ar .product-checkout.detail-rating .filter-reviews-wrapper .d-flex p {
        margin-right: 0;
    }
    .ar h2.section-title span {
        padding: 0 18px;
    }
    .ar h2.section-title a.view-all {
        left: 0;
        right: auto;
    }
    .ar .responsive-table.big .trow>.table-cell {
        padding-right: 0px !important;
        padding-left: 10px !important;
        padding: 10px;
    }
    .ar .responsive-table.big .trow>.table-cell:before {
        padding-right: 6px;
        padding-left: 0.625rem;
        text-align: right;
        padding: 0.9375rem 0.625rem;
        margin-left: 10%;
        margin-right: 0;
    }
    .ar .responsive-table.big .trow>.table-cell:after {
        right: 25%;
        left: auto;
    }
    .ar .responsive-table.big .trow>.table-cell:last-child {
        padding-left: 0;
        padding: 0.4375rem 0;
    }
    .ar .responsive-table.big span.item-size {
        margin: 0;
    }
    .ar .reviews-wrapper .review .info {
        margin-left: 1rem;
        margin-right: 0;
    }
}
@media screen and (min-width: 768px){
    .ar .product-slider .thumb-slider .slick-arrow, .reviews-product-slider .thumb-slider .slick-arrow {
        right: 26px;
        left: auto;
    }
}
@media screen and (max-width: 767px) {
    .ar .product-slider .thumb-slider .image {
    
        padding-right: 0px;
        padding-left: 0;
    }
    .ar h2.section-title span {

        padding: 0 10px;
    }
    .ar h2.section-title:before {
        left: 0;
    }
    .ar .responsive-table .trow>.table-cell {
        padding-right: 0px !important;
        padding-left: 10px !important;
        padding: 10px;
    }
    .ar .responsive-table .trow>.table-cell:before {
        padding-right: 6px;
        padding-left: 0.625rem;
        text-align: right;
        padding: 0.9375rem 0.625rem;
        margin-left: 10%;
        margin-right: 0;
    }
    .ar .responsive-table .trow>.table-cell:after {
        right: 25%;
        left: auto;
    }
    .ar .responsive-table .trow>.table-cell:last-child {
        padding-left: 0;
        padding: 0.4375rem 0;
    }
    .ar .responsive-table span.item-size {
        margin: 0;
    }
    .ar .shopping-cart .color .bootstrap-select .dropdown-toggle:after {
        left: -16px;
        right: auto;
    }
    .ar .payment-method ul li:not(:last-child) {
        margin-left: 1.5rem;
        margin-right: 0;
    }
    .ar .payment-method input[type="radio"]+span {
        padding-right: 1.875rem;
        padding-left: 0;
    }
    .ar p.order-successful span {
        margin-left: 2.5rem;
        margin-right: 0;
    }
    .ar .left-menu {
        margin-bottom: 2.1875rem;
    }
    .ar .order_history_page .responsive-table .trow>.table-cell:after {
        right: 35%;
        left: auto;
    }
    .ar .product-details .button-row .btn {
        padding: 01.050rem 3.5625rem;
    }
    .ar .active-filter .filters {
        left: 0;
        right: auto;
    }
    .ar .filters {
        right: 0;
        left: auto;
        padding-top: 3.4375rem;
        text-align: right;
        padding: 65px 30px 70px;
    }
    .ar .filters .top-bar .btn {
        padding: 1.23rem 1.5625rem;
    }
    .ar .filters .top-bar .close-filter {
        padding-right: 15px;
        padding-left: 0;
    }
    .ar .filters .top-bar .close-filter i {
        /*padding-left: 15px; padding-right: 0;*/
        transform: rotate(180deg);
    }
    .ar .product-wrapper .sort-by {
        box-shadow: -140px 0px 0px 0px #f4f4f4, 140px 0 0px 0px #f4f4f4;
    }
    .ar .product-wrapper .sort-by .showing-result span {
        margin-left: 15px;
        margin-right: 0;
    }
    .ar .review-rating .dropdown .dropdown-menu {
        right: 0 !important;
        left: 0!important;
        transform: translate3d(-5px, 15px, 0px) translateX(0%) !important;
    }
    .ar .review-rating .dropdown .dropdown-menu:after {
        right: 15%;
        left: auto;
    }
    .ar .header-fixed header .header-wrapper .search-bar {
        left: 5px;
        right: auto;
    }
    .ar .header-fixed header .header-wrapper .left-side .menu-icon {
        margin-left: 10px;
        margin-right: 0;
    }
    .ar .header-fixed header .header-wrapper .right-side ul li.search {
        margin-left: 1.1875rem;
        margin-right: 0;
        padding-left: 1.1875rem;
        padding-right: 0;
    }
    .ar .header-fixed header .header-wrapper .right-side ul li.search:before {
        left: 0;
        right: auto;
    }
}

@media screen and (max-width: 575px) {
    .shop-by-store .slick-arrow.slick-prev {
        left: 0;
    }
    .shop-by-store .slick-arrow.slick-next {
        right: 0;
    }
    .ar .newsletter .subcribe form .btn {
        margin-right: 8px;
        margin-left: 0;
    }
    .ar .inline-buttons .btn:not(:last-child) {
        margin-left: 0;
    }
    .ar .account-page .inner-wrapper {
        padding: 1.5rem;
    }
    .ar .profile-page .inner-content .custom-table .tbody .trow .table-cell:first-child {
        padding-right: 0.75rem;
        padding-left: 0;
    }
    .ar .contact-page .contact-info {
        padding: 2.5rem 3.375rem 1.875rem 1.125rem;
    }
    .ar .stores div.d-flex form {
        margin-left: auto;
        margin-right: 0;
    }
    .ar .product-wrapper .sort-by {
        padding: 10px 0;
    }
    .ar .order_history_page form .form-group.order-num {
        margin-right: 0;
    }
    .trending .slick-arrow {
        right: 0;
    }
    .trending .slick-arrow.slick-prev {
        left: 0;
    }
    .shop-by-categories .slick-arrow {
        right: 0;
    }
    .shop-by-categories .slick-arrow.slick-prev {
        left: 0;
    }
}

@media screen and (max-width: 500px) {
    .ar .filter-reviews-wrapper .filter-reviews label {
        margin-left: 0;
    }
    .ar .filter-reviews-wrapper .filter-reviews .delivery .radio-wrapper:not(:last-child) {
        margin-left: 0;
    }
    .ar .reviews-wrapper .review .info {
        margin-left: 0;
    }
}

@media screen and (max-width: 350px) {
    .ar .filter-reviews-wrapper h5 {
        margin-left: 1.2rem;
        margin-right: 0;
    }
    .ar .filter-reviews-wrapper .filter-reviews .delivery .radio-wrapper div {
        padding: 0.4375rem 0.75rem;
    }
    /*.ar .dropdown-menu.cart-dropdown {
        right: -130px !important;
        left: auto!important;
    }*/
    .ar .review-rating .dropdown .dropdown-menu {
        padding: 22px 20px 28px 25px;
    }
}