/*

	Media Query mixin

	See https://github.com/sass-mq/sass-mq/ for original full version.

	@example scss
	 .element {
	   @include mq($from: mobile) {
		 color: red;
	   }

	   @include mq($to: tablet) {
		 color: blue;
	   }

	   @include mq(mobile, tablet) {
		 color: green;
	   }

	   @include mq($from: tablet, $and: '(orientation: landscape)') {
		 color: teal;
	   }

	   @include mq(em(950px)) {
		 color: hotpink;
	   }

	   @include mq(em(950px), $media-feature: height) {
		 color: hotpink;
	   }

	   @include mq(tablet, $media-type: screen) {
		 color: hotpink;
	   }

	   // Advanced use:
	   $custom-breakpoints: (L: 900px, XL: 1200px);
	   @include mq(L, $bp: $custom-breakpoints) {
		 color: hotpink;
	   }
	 }

*/
/*

	Margin / Padding Quick Resets

	example: top & bottom margin set to $spacing-unit
	.element {
		@include push--ends;
	}

	example: left & right padding set to $spacing-unit--small
	.element {
		@include soft--sides($spacing-unit--small);
	}

*/
/*

	Helper mixins

*/
/*

	Form input placeholder text

	example:

	input,
	textarea {
		@include input-placeholder {
			color: $grey;
		}
	}

*/
/*

	Retina images

	example:

	.element {
		@include retina {
			background-image: url(../img/background@2x.png);
		}
	}

*/
/*

	Content margins

	fore removing first/last child margins

	example: default
	.element {
		@include content-margins;
	}

	output:
	.element > *:first-child {
		margin-top: 0;
	}
	.element > *:last-child {
		margin-bottom: 0;
	}

	example: empty selector
	.element {
		@include content-margins('false');
	}

	output:
	.element:first-child {
		margin-top: 0;
	}
	.element:last-child {
		margin-bottom: 0;
	}

*/
/*

	CSS Triangle

	used for creating CSS only triangles

	example:
	.element {

		&::before {
			@include css-triangle(blue, down);
		}
	}

*/
/*

	Hide text

	example:

	.element {
		@include hide-text;
	}

*/
/*

	Responsive ratio

	Used for creating scalable elements that maintain the same ratio

	example:
	.element {
		@include responsive-ratio(400, 300);
	}

*/
/*

	Icon

	For using fontastic icons in pseudo elements

*/
/*

	Colours

	background, colour, etc. match up with colour map in _variables.scss

	modify to suit per project

*/
/*

	Fluid Property

	http://www.adrenalinmedia.com.au/the-agency/insights/this-changes-everything-css-fluid-properties.aspx

	HTML:

	<h1 class="element">
		<span>Text to replace</span>
	</h1>

	example:
	h1 {
		@include fp(font-size, 50, 100); // 50px at 320, 100px at 1920;
	}

	output:
	h1 {
		font-size: calc(3.125vw + 40px); //This is the magic!
	}

	@media (max-width:320px){ //Clips the start to the min value
		font-size:50px;
	}

	@media (min-width:1920px){ //Clips the end to the max value
		font-size:100px;
	}


*/
/*

	Misc

*/
/*

	Font face

	example:

	@include font-face('Clarendon', 'clarendon-webfont');
	@include font-face('Clarendon', 'clarendon-webfont', $w--bold, italic);

*/
/*

	REMs

*/
/*

	EMs calculator

*/
/*

	Grids

*/
/*

	Photoshop letter spacing

	use:

		for simple conversion between Photoshop letter-spacing to ems

	prerequisits:

		$ls list must exist in variables file

	example:

		.awesome-heading {
			letter-spacing: ls('awesome-heading');
		}

		could generate (if "awesome-heading") is 2nd in the list:

		.awesome-heading {
			letter-spacing: -0.01em;
		}

*/
/*

	Map deep get

	Get values from anywhere in a variable list

	http://css-tricks.com/snippets/sass/deep-getset-maps/

*/
/*

	Strip unit

*/
/*

	Very simple number functions

*/
/*

	Photoshop letter spacing

	use:

		get the value of a particular breakpoint

	example:

		.box {
			width: breakpoint('phone-wide');
		}

		would generate:

		.box {
			width: 480px;
		}

*/
/*

	Colour map lookup, retrieving base value by default

*/
/*

	SVG inliner

*/
@font-face {
  font-family: 'DroidArabicKufiRegular';
  src: url("../fonts/DroidKufi-Regular/droidkufi-regular.eot");
  src: url("../fonts/DroidKufi-Regular/droidkufi-regular.eot") format("embedded-opentype"), url("../fonts/DroidKufi-Regular/droidkufi-regular.woff") format("woff"), url("../fonts/DroidKufi-Regular/droidkufi-regular.ttf") format("truetype"), url("../fonts/DroidKufi-Regular/droidkufi-regular.svg#DroidArabicKufiRegular") format("svg"); }

:root {
  --primary: #353d54;
  --default: #09304f;
  --green: #a6c53b;
  --secondary: #99d1eb;
  --textPrimary: #222222;
  --textSecondary: #3a405b;
  --easing: cubic-bezier(0.8, 0, 0.2, 1);
  --duration: 0.6s; }

.col-gap-32 {
  margin-left: -16px;
  margin-right: -16px; }

.col-gap-32 > div {
  padding-left: 16px;
  padding-right: 16px; }

/*

	Media Query mixin

	See https://github.com/sass-mq/sass-mq/ for original full version.

	@example scss
	 .element {
	   @include mq($from: mobile) {
		 color: red;
	   }

	   @include mq($to: tablet) {
		 color: blue;
	   }

	   @include mq(mobile, tablet) {
		 color: green;
	   }

	   @include mq($from: tablet, $and: '(orientation: landscape)') {
		 color: teal;
	   }

	   @include mq(em(950px)) {
		 color: hotpink;
	   }

	   @include mq(em(950px), $media-feature: height) {
		 color: hotpink;
	   }

	   @include mq(tablet, $media-type: screen) {
		 color: hotpink;
	   }

	   // Advanced use:
	   $custom-breakpoints: (L: 900px, XL: 1200px);
	   @include mq(L, $bp: $custom-breakpoints) {
		 color: hotpink;
	   }
	 }

*/
/*

	Margin / Padding Quick Resets

	example: top & bottom margin set to $spacing-unit
	.element {
		@include push--ends;
	}

	example: left & right padding set to $spacing-unit--small
	.element {
		@include soft--sides($spacing-unit--small);
	}

*/
/*

	Helper mixins

*/
/*

	Form input placeholder text

	example:

	input,
	textarea {
		@include input-placeholder {
			color: $grey;
		}
	}

*/
/*

	Retina images

	example:

	.element {
		@include retina {
			background-image: url(../img/background@2x.png);
		}
	}

*/
/*

	Content margins

	fore removing first/last child margins

	example: default
	.element {
		@include content-margins;
	}

	output:
	.element > *:first-child {
		margin-top: 0;
	}
	.element > *:last-child {
		margin-bottom: 0;
	}

	example: empty selector
	.element {
		@include content-margins('false');
	}

	output:
	.element:first-child {
		margin-top: 0;
	}
	.element:last-child {
		margin-bottom: 0;
	}

*/
/*

	CSS Triangle

	used for creating CSS only triangles

	example:
	.element {

		&::before {
			@include css-triangle(blue, down);
		}
	}

*/
/*

	Hide text

	example:

	.element {
		@include hide-text;
	}

*/
/*

	Responsive ratio

	Used for creating scalable elements that maintain the same ratio

	example:
	.element {
		@include responsive-ratio(400, 300);
	}

*/
/*

	Icon

	For using fontastic icons in pseudo elements

*/
/*

	Colours

	background, colour, etc. match up with colour map in _variables.scss

	modify to suit per project

*/
/*

	Fluid Property

	http://www.adrenalinmedia.com.au/the-agency/insights/this-changes-everything-css-fluid-properties.aspx

	HTML:

	<h1 class="element">
		<span>Text to replace</span>
	</h1>

	example:
	h1 {
		@include fp(font-size, 50, 100); // 50px at 320, 100px at 1920;
	}

	output:
	h1 {
		font-size: calc(3.125vw + 40px); //This is the magic!
	}

	@media (max-width:320px){ //Clips the start to the min value
		font-size:50px;
	}

	@media (min-width:1920px){ //Clips the end to the max value
		font-size:100px;
	}


*/
/*

	Misc

*/
/*

	Font face

	example:

	@include font-face('Clarendon', 'clarendon-webfont');
	@include font-face('Clarendon', 'clarendon-webfont', $w--bold, italic);

*/
/*

	REMs

*/
/*

	EMs calculator

*/
/*

	Grids

*/
/*

	Photoshop letter spacing

	use:

		for simple conversion between Photoshop letter-spacing to ems

	prerequisits:

		$ls list must exist in variables file

	example:

		.awesome-heading {
			letter-spacing: ls('awesome-heading');
		}

		could generate (if "awesome-heading") is 2nd in the list:

		.awesome-heading {
			letter-spacing: -0.01em;
		}

*/
/*

	Map deep get

	Get values from anywhere in a variable list

	http://css-tricks.com/snippets/sass/deep-getset-maps/

*/
/*

	Strip unit

*/
/*

	Very simple number functions

*/
/*

	Photoshop letter spacing

	use:

		get the value of a particular breakpoint

	example:

		.box {
			width: breakpoint('phone-wide');
		}

		would generate:

		.box {
			width: 480px;
		}

*/
/*

	Colour map lookup, retrieving base value by default

*/
/*

	SVG inliner

*/
html {
  font-size: 100%; }

body {
  font-size: 0.875rem;
  font-family: "Comfortaa", cursive;
  color: #000;
  line-height: normal;
  padding: 0;
  margin: 0;
  background: #fff;
  overflow-X: hidden; }

@media screen and (max-width: 991px) {
  html {
    font-size: 90%; } }

a {
  text-decoration: none;
  color: #828282; }
  a:hover {
    color: #9b176e;
    text-decoration: none; }
  a:focus {
    outline: none;
    text-decoration: none; }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

/*---

Clickable buttons:

```
<div class="button-wrapper">
	<button class="button">Button</button>
</div>

<div class="button-wrapper">
	<a href="#0" class="button">Button (link)</a>
</div>
```

Alternate styles using `secondary`, `positive` and `negative` modifiers:

```
<div class="button-wrapper">
	<button class="button button--secondary">Button: Secondary</button>
</div>

<div class="button-wrapper">
	<button class="button button--positive">Button: Positive</button>
</div>

<div class="button-wrapper">
	<button class="button button--negative">Button: Negative</button>
</div>
```

And sized using `large` and `small`:

```
<div class="button-wrapper">
	<button class="button button--large">Button: Large</button>
</div>

<div class="button-wrapper">
	<button class="button button--small">Button: Small</button>
</div>
```

Other states:

```
<div class="button-wrapper">
	<button class="button" disabled>Button: Disabled</button>
</div>

<div class="button-wrapper">
	<button>Unstyled button</button>
</div>
```

*/
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus .bootstrap-select .dropdown-toggle:focus {
  border-color: #009cde !important; }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%; }

.bootstrap-select .dropdown-toggle {
  line-height: normal; }
  .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    color: #000000;
    font-size: 13px; }

.bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
.bootstrap-select > select.mobile-device:focus .bootstrap-select .dropdown-toggle:focus {
  outline: none !important; }

.bootstrap-select .dropdown-menu li a.active,
.bootstrap-select a:active {
  background: #cccccc; }
  .bootstrap-select .dropdown-menu li a.active span.text,
  .bootstrap-select a:active span.text {
    color: #9b176e; }

.bootstrap-select.bs-container .dropdown-menu {
  border-radius: 0; }

.bootstrap-select .dropdown-menu li a span.text {
  color: #aaaaaa;
  font-size: 0.875rem; }

.btn-light:focus {
  box-shadow: none; }

.btn.disabled,
.btn:disabled {
  opacity: 0.4; }

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important; }
  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none !important; }

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none !important;
  border-color: #9b176e;
  background-color: #9b176e;
  color: #ffffff !important; }

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  background: transparent !important;
  border: 0 !important;
  outline: none !important; }

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: none !important;
  border: 1px solid var(--primary) !important; }

.bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important; }

.button-row {
  text-align: center;
  margin: 0.9375rem auto auto auto; }
  @media screen and (max-width: 414px) {
    .button-row {
      margin: 1.25rem 0; } }

.btn {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  outline: none;
  line-height: 1;
  border-radius: 45px;
  transition: all .5s ease;
  font-size: 0.875rem;
  padding: 1.0625rem 4.375rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }
  .btn.lg {
    min-width: 280px; }
  .btn:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none; }
  .btn.btn-default {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #06314e; }
    .btn.btn-default:hover {
      border-color: #06314e;
      background-color: #06314e;
      color: #ffffff !important; }
  .btn.btn-primary {
    background-color: #06314e;
    border: 1px solid #06314e;
    color: #ffffff; }
    .btn.btn-primary:hover {
      border-color: #99d1eb;
      background-color: #99d1eb;
      color: #06314e !important; }

.bootstrap-select > .dropdown-toggle {
  position: relative;
  background-color: transparent;
  outline: none !important;
  padding: 0px;
  padding-left: 1.5625rem;
  padding-right: 1.875rem; }
  .bootstrap-select > .dropdown-toggle .filter-option-inner-inner {
    color: #000000;
    font-size: 13px; }
  .bootstrap-select > .dropdown-toggle::after {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    color: #000000;
    background: none;
    border: none;
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    font-weight: 700; }

.form-group .bootstrap-select > .dropdown-toggle {
  height: 42px;
  border: solid 1px #cccccc;
  padding: 9px; }
  .form-group .bootstrap-select > .dropdown-toggle .filter-option-inner-inner {
    line-height: normal;
    font-size: 1rem; }
  .form-group .bootstrap-select > .dropdown-toggle:after {
    right: 10px;
    top: 58%; }

.form-group .btn-light:not(:disabled):not(.disabled).active,
.form-group .btn-light:not(:disabled):not(.disabled):active,
.form-group .show > .btn-light.dropdown-toggle {
  border: 1px solid var(--primary) !important; }

.radio label {
  padding-left: 0px;
  margin: 0; }
  .radio label:not(:last-child) {
    margin-right: 3.125rem; }

.radio input[type="radio"] {
  display: none; }
  .radio input[type="radio"] + span {
    display: inline-block;
    line-height: normal;
    position: relative;
    font-size: 14px;
    color: #000000;
    padding-left: 35px;
    text-transform: uppercase;
    min-height: 14px; }
    .radio input[type="radio"] + span img {
      vertical-align: text-top;
      margin-left: 0.1875rem; }
    .radio input[type="radio"] + span:after {
      content: "";
      width: 22px;
      height: 22px;
      background: transparent;
      border: 1px solid #dbdbdb;
      border-radius: 50%;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%); }
  .radio input[type="radio"]:checked + span {
    color: #a02376; }
    .radio input[type="radio"]:checked + span:before {
      background: url(../images/icons.png) 0px -22px no-repeat;
      top: 50%;
      left: 6px;
      transform: translateY(-50%);
      content: '';
      width: 12px;
      height: 10px;
      position: absolute;
      z-index: 9; }
  .radio input[type="radio"]:disabled + span {
    background: #e8e5e5;
    pointer-events: none;
    opacity: .6; }

.checkbox {
  margin: 0;
  padding: 0;
  padding-bottom: 0.9375rem; }
  .checkbox label {
    padding-left: 0px;
    margin: 0; }
    .checkbox label:not(:last-child) {
      margin-right: 3.125rem; }
  .checkbox input[type="checkbox"] {
    display: none; }
    .checkbox input[type="checkbox"] + span {
      display: inline-block;
      line-height: normal;
      position: relative;
      font-size: 14px;
      color: #000000;
      padding-left: 30px;
      text-transform: uppercase;
      min-height: 14px; }
      .checkbox input[type="checkbox"] + span.text-capt {
        text-transform: capitalize; }
      .checkbox input[type="checkbox"] + span img {
        vertical-align: text-top;
        margin-left: 0.1875rem; }
      .checkbox input[type="checkbox"] + span:after {
        content: "";
        width: 19px;
        height: 19px;
        background: transparent;
        border: 1px solid #cccccc;
        border-radius: 0;
        position: absolute;
        top: 0px;
        left: 0px; }
      .checkbox input[type="checkbox"] + span .count {
        color: #999999; }
    .checkbox input[type="checkbox"]:checked + span {
      color: #a02376; }
      .checkbox input[type="checkbox"]:checked + span:before {
        background: url(../images/icons.png) 0px -22px no-repeat;
        top: 50%;
        left: 4px;
        transform: translateY(-42%);
        content: '';
        width: 12px;
        height: 10px;
        position: absolute;
        z-index: 9; }
    .checkbox input[type="checkbox"]:disabled + span {
      background: #e8e5e5;
      pointer-events: none;
      opacity: .6; }

.dropdown-toggle::after {
  content: none; }

.dropdown .dropdown-menu {
  border: 0;
  border-radius: 0;
  box-shadow: 0px -1px 4px 1px #c4c4c4;
  margin-top: 0px;
  padding: 0; }
  .dropdown .dropdown-menu .dropdown-item:focus,
  .dropdown .dropdown-menu .dropdown-item:hover {
    background: var(--primary);
    color: white; }
    .dropdown .dropdown-menu .dropdown-item:focus span.text,
    .dropdown .dropdown-menu .dropdown-item:hover span.text {
      color: #fff; }
  .dropdown .dropdown-menu .dropdown-item {
    padding: 0.53rem 0.625rem; }
    .dropdown .dropdown-menu .dropdown-item:not(:last-child) {
      border-bottom: 1px solid #f2f2f2; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: pointer;
  display: block;
  z-index: 99999; }

.bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
.bootstrap-select .bootstrap-select .dropdown-toggle:focus {
  outline: none !important; }

/*

	Basic, low level typography

*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 1em;
  line-height: 1; }
  .h1:first-child,
  .h2:first-child,
  .h3:first-child,
  .h4:first-child,
  .h5:first-child,
  .h6:first-child {
    margin-top: 0; }

h1 {
  font-size: 1.875rem; }
  @media screen and (min-width: ) {
    h1 {
      font-size: 2.25rem; } }
  @media screen and (min-width: ) {
    h1 {
      font-size: 2.625rem; } }

h2 {
  font-size: 2rem; }
  @media screen and (min-width: ) {
    h2 {
      font-size: 2rem; } }
  @media screen and (min-width: ) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: 1.375rem; }
  @media screen and (min-width: ) {
    h3 {
      font-size: 1.625rem; } }
  @media screen and (min-width: ) {
    h3 {
      font-size: 1.875rem; } }

p {
  color: var(--textPrimary);
  font-size: 1rem;
  margin-bottom: 1.25rem;
  line-height: 1.3;
  margin-top: 0px;
  font-weight: 300; }

li {
  font-weight: 300; }

p, ul, ol,
.blockquote, .button-wrapper, .media, .table-wrapper {
  margin-bottom: 1em; }

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

b,
strong {
  font-weight: 700; }

small {
  font-size: 80%; }

@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

input,
select,
textarea {
  appearance: none;
  background-clip: border-box;
  margin: 0;
  outline: 0;
  text-align: left;
  vertical-align: top;
  width: 100%; }

input[type='checkbox'],
input[type='radio'] {
  width: auto;
  height: auto; }

input[type='checkbox'] {
  appearance: checkbox; }

input[type='radio'] {
  appearance: radio; }

textarea,
select[size],
select[multiple] {
  height: auto; }

form {
  margin-bottom: 0; }

.form-group {
  margin-bottom: 1.875rem;
  position: relative; }
  .form-group.telephone {
    display: flex;
    flex-wrap: wrap; }
    .form-group.telephone .bootstrap-select {
      min-width: 80px;
      width: auto !important; }
    .form-group.telephone .form-control {
      border-left: 1px solid transparent;
      width: calc(100% - 80px); }

.control-label {
  font-size: 0.75rem;
  color: #a8acb9;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding-left: 1rem;
  letter-spacing: 1px; }

.form-control {
  position: relative;
  height: 2.625rem;
  font-size: 0.875rem;
  color: #4f5362;
  background-color: #eff0f4;
  font-family: "Montserrat", sans-serif;
  outline: none;
  padding: 9px;
  padding-left: 1.25rem;
  outline: none;
  border: solid 1px #eff0f4;
  border-radius: 30px;
  transition: all 0.2s;
  -webkit-appearance: none !important; }
  .form-control.active {
    outline: none;
    box-shadow: none;
    border-radius: 0; }
  .form-control::placeholder {
    opacity: .3; }
  .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--primary) !important; }
  .form-control:read-only {
    background: #fff; }

.form-control:placeholder-shown + label {
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translate(6px, -10px) scale(1.1); }

.form-control:not(:placeholder-shown) + label,
.form-control:not(:placeholder-shown) + label,
.form-control:focus + label {
  transform: translate(0px, -25px) scale(1);
  cursor: pointer; }

.form-control:-ms-input-placeholder + label {
  cursor: text !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  transform: translate(6px, -10px) scale(1.1) !important; }

.form-control:not(:-ms-input-placeholder) + label,
.form-control:not(:-ms-input-placeholder) + label,
.form-control:focus + label {
  transform: translate(0px, -25px) scale(1) !important;
  cursor: pointer !important; }

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit; }

input:focus::-webkit-input-placeholder {
  opacity: 0; }

.footer-wrapper .footer .contact .form-control:-ms-input-placeholder {
  color: transparent !important;
  transition: inherit !important; }

textarea.form-control {
  resize: none;
  height: 5rem;
  border-radius: 8px; }

.col-gap-0 {
  margin-left: -0px;
  margin-right: -0px; }

.col-gap-0 > div {
  padding-left: 0px;
  padding-right: 0px; }

.col-gap-10 {
  margin-left: -10px;
  margin-right: -10px; }

.col-gap-10 > div {
  padding-left: 10px;
  padding-right: 10px; }

.col-gap-20 {
  margin-left: -10px;
  margin-right: -10px; }

.col-gap-20 > div {
  padding-left: 10px;
  padding-right: 10px; }

.col-gap-40 {
  margin-left: -20px;
  margin-right: -20px; }

.col-gap-40 > div {
  padding-left: 20px;
  padding-right: 20px; }

.col-gap-60 {
  margin-left: -30px;
  margin-right: -30px; }

.col-gap-60 > div {
  padding-left: 30px;
  padding-right: 30px; }

.col-gap-80 {
  margin-left: -40px;
  margin-right: -40px; }

.col-gap-80 > div {
  padding-left: 40px;
  padding-right: 40px; }

.margin-bottom-40 {
  margin-bottom: 2.5rem !important; }

.bootstrap-datetimepicker-widget button[data-action] {
  width: auto !important;
  padding: 6px 10px !important; }

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  top: -9px;
  left: 12px; }

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  content: none; }

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 16em; }

.slick-slider * {
  outline: none !important; }

.slick-arrow {
  position: absolute;
  display: block;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  transform: translateY(-50%);
  padding: 0;
  border: 1px solid #ffffff;
  outline: none !important;
  z-index: 9;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  top: 43%;
  transform: translateY(-50%);
  right: 27px;
  border-radius: 50%;
  transition: .3s all ease-in-out; }
  .slick-arrow :focus {
    outline: none; }
  .slick-arrow:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 19px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.485 18.871'%3E%3Cpath id='Path_5410' data-name='Path 5410' d='M124.435-3152.129a1.046,1.046,0,0,1-.741-.307l-8.387-8.387a1.047,1.047,0,0,1,0-1.483l8.387-8.387a1.048,1.048,0,0,1,1.482,0,1.047,1.047,0,0,1,0,1.482l-7.646,7.646,7.646,7.646a1.047,1.047,0,0,1,0,1.483,1.046,1.046,0,0,1-.741.307' transform='translate(-115 3171)' fill='%23ffffff' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .slick-arrow.slick-prev {
    left: 27px;
    right: auto; }
  .slick-arrow.slick-next:before {
    transform: translate(-50%, -50%) rotate(180deg);
    top: 50%; }
  .slick-arrow.slick-disabled {
    pointer-events: none;
    opacity: 0; }
    .slick-arrow.slick-disabled:before {
      opacity: 0.2; }
  .slick-arrow:hover {
    opacity: .75; }
    .slick-arrow:hover:before {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.485 18.871'%3E%3Cpath id='Path_5410' data-name='Path 5410' d='M124.435-3152.129a1.046,1.046,0,0,1-.741-.307l-8.387-8.387a1.047,1.047,0,0,1,0-1.483l8.387-8.387a1.048,1.048,0,0,1,1.482,0,1.047,1.047,0,0,1,0,1.482l-7.646,7.646,7.646,7.646a1.047,1.047,0,0,1,0,1.483,1.046,1.046,0,0,1-.741.307' transform='translate(-115 3171)' fill='%23ffffff' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat; }

.slick-dots {
  position: absolute;
  bottom: 27px;
  width: 100%;
  text-align: center;
  margin: 0; }

.slick-dots li {
  display: inline-block; }

.slick-dots li:not(:last-child) {
  margin-right: 9px; }

.slick-dots button {
  width: 9px;
  height: 9px;
  padding: 0;
  border: 0;
  background: #87919a;
  font-size: 0;
  transition: all .2s ease;
  border-radius: 20px; }

.slick-dots .slick-active button {
  background: #ffffff;
  width: 12px;
  height: 12px; }

.m-b-75 {
  margin-bottom: 4.6875rem !important; }

.m-b-15 {
  margin-bottom: 0.9375rem !important; }

.m-t-40 {
  margin-top: 2.5rem !important; }

.p-t-20 {
  padding-top: 1.25rem !important; }

.p-t-36 {
  padding-top: 2.25rem !important; }

.mt-50 {
  margin-top: 3.125rem !important; }

.mb-20 {
  margin-bottom: 1.25rem !important; }

.mb-50 {
  margin-bottom: 3.125rem !important; }

.mb-45 {
  margin-bottom: 2.8125rem !important; }

.card {
  border: 1px solid #d1ecf9;
  background: white;
  margin-bottom: 2.125rem;
  border-radius: 0;
  box-shadow: 0px 8px 6px 4px rgba(245, 245, 245, 0.7);
  transition: .5s all ease;
  position: relative; }
  .card .card-body {
    padding: 1rem; }
    .card .card-body h6 {
      margin-bottom: 0; }
    .card .card-body p {
      color: #b5b5b5;
      font-size: 12px;
      font-weight: 400; }
  .card:hover {
    box-shadow: 0px 4px 19px 2px rgba(63, 161, 248, 0.4); }

/* key-frames */
@-webkit-keyframes shine {
  100% {
    left: 125%; } }

@-webkit-keyframes circle {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }

.nav-tabs {
  border: 0;
  padding-bottom: 1.6875rem; }
  .nav-tabs .nav-link {
    border: 0;
    border-bottom: 3px solid transparent;
    background: transparent;
    color: #101010;
    font-size: 0.8125rem;
    display: flex;
    align-items: center;
    padding: 0;
    padding-bottom: 1px; }
    .nav-tabs .nav-link.active {
      background: transparent;
      color: #101010;
      border-bottom: 3px solid #9b176e;
      opacity: 1; }
  .nav-tabs .nav-item:not(:last-child) {
    margin-right: 2.8125rem;
    position: relative; }
    .nav-tabs .nav-item:not(:last-child):after {
      position: absolute;
      content: none;
      height: 9px;
      width: 1px;
      background: var(--primary);
      right: -25px;
      top: 4px; }

ul.nav-pills {
  justify-content: center;
  border: 2px solid var(--default);
  overflow: hidden;
  display: inline-flex;
  border-radius: 30px; }
  ul.nav-pills > li:not(:last-child) {
    border-right: 2px solid var(--default); }
  ul.nav-pills > li a {
    color: #4f5362;
    font-size: 0.75rem;
    text-transform: uppercase;
    transition: .3s all ease-in-out;
    padding: 0.875rem 1.875rem; }
    ul.nav-pills > li a.active {
      background-color: #06314e !important;
      border-radius: 0; }

.heading {
  font-size: 1.75rem;
  color: #0a0a0a;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2.5rem;
  margin-top: 0; }

input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: pointer;
  display: block;
  z-index: 8; }

.modal {
  text-align: center;
  padding: 0 !important;
  z-index: 99999; }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; }
  .modal .modal-dialog {
    width: 835px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 15px 0; }
    @media screen and (max-width: 991px) {
      .modal .modal-dialog {
        width: 95%; } }
    @media (min-width: 576px) {
      .modal .modal-dialog {
        max-width: 100%; } }
    .modal .modal-dialog .modal-content {
      box-shadow: none;
      border: none;
      width: inherit;
      height: inherit;
      margin: 0 auto;
      pointer-events: all;
      background: #fff;
      overflow: visible;
      text-align: center;
      padding: 2.5rem;
      position: relative;
      border-radius: 0; }
      .modal .modal-dialog .modal-content .popup-cross-icon {
        font-weight: normal;
        position: absolute;
        cursor: pointer;
        right: 20px;
        font-size: 1.5625rem;
        top: 20px;
        z-index: 1000; }
        .modal .modal-dialog .modal-content .popup-cross-icon:hover i {
          color: var(--primary); }
      .modal .modal-dialog .modal-content .modal-title {
        font-size: 1.75rem;
        color: #0a0a0a;
        margin-bottom: 2.8125rem;
        position: relative;
        padding-top: 0rem;
        padding-bottom: 0;
        border: 0;
        letter-spacing: 2px;
        text-transform: uppercase; }
      .modal .modal-dialog .modal-content .modal-body {
        padding: 0; }
  .modal.large .modal-dialog {
    width: 985px; }
    @media screen and (max-width: 1200px) {
      .modal.large .modal-dialog {
        width: 90%; } }
    @media screen and (max-width: 991px) {
      .modal.large .modal-dialog {
        width: 95%; } }
  .modal.medium .modal-dialog {
    width: 590px; }
    @media screen and (max-width: 768px) {
      .modal.medium .modal-dialog {
        width: 95%; } }
  .modal.small .modal-dialog {
    width: 395px; }
    @media screen and (max-width: 500px) {
      .modal.small .modal-dialog {
        width: 95%; } }
  .modal.small-modal .modal-dialog {
    width: 395px; }
    @media screen and (max-width: 552px) {
      .modal.small-modal .modal-dialog {
        width: 95%; } }
  .modal.custom-modal .modal-body {
    /*padding: 25px 30px 20px 30px;*/
    padding: 0;
    visibility: hidden;
    height: 595px;
    overflow: hidden; }
    .modal.custom-modal .modal-body.show {
      visibility: visible;
      height: auto;
      overflow: visible; }

img {
  max-width: 100%; }

figure {
  position: relative; }

.abs-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9; }

.hover {
  position: relative;
  overflow: hidden; }
  .hover:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0; }
  .hover:hover:before {
    -webkit-animation: circle .85s;
    animation: circle .85s; }

.content-box {
  background: white;
  border: 1px solid #c6e2f1;
  border-radius: 25px;
  padding: 2.5rem 1.25rem 1.25rem 1.25rem;
  box-shadow: 0px 9px 8px -3px #dbdcdf;
  position: relative; }

.d-none {
  display: none; }

.custom-table {
  display: table;
  width: 100%;
  margin-top: 0rem; }
  .custom-table.table-small {
    width: 85%; }
  .custom-table .thead .trow {
    border-bottom: 1px solid #ebebeb; }
    .custom-table .thead .trow .table-cell {
      padding: 19px 10px 19px 0px; }
  .custom-table .tbody .trow {
    margin-bottom: 1.25rem; }
  .custom-table .trow {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .custom-table .trow .table-cell {
      display: table-cell;
      padding: 17px 10px 16px 0px;
      font-size: 0.875rem;
      color: #333333; }
      .custom-table .trow .table-cell:first-child a {
        color: #000; }
        .custom-table .trow .table-cell:first-child a:hover {
          color: #158f7a; }
  .custom-table .table-footer {
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }

[data-width="7"] {
  width: 7%; }

[data-width="8"] {
  width: 8%; }

[data-width="9"] {
  width: 9%; }

[data-width="10"] {
  width: 10%; }

[data-width="11"] {
  width: 11%; }

[data-width="12"] {
  width: 12%; }

[data-width="13"] {
  width: 13%; }

[data-width="14"] {
  width: 14%; }

[data-width="15"] {
  width: 15%; }

[data-width="16"] {
  width: 16%; }

[data-width="17"] {
  width: 17%; }

[data-width="18"] {
  width: 18%; }

[data-width="19"] {
  width: 19%; }

[data-width="20"] {
  width: 20%; }

[data-width="21"] {
  width: 21%; }

[data-width="22"] {
  width: 22%; }

[data-width="24"] {
  width: 24%; }

[data-width="25"] {
  width: 25%; }

[data-width="26"] {
  width: 26%; }

[data-width="27"] {
  width: 27%; }

[data-width="28"] {
  width: 28%; }

[data-width="30"] {
  width: 30%; }

[data-width="31"] {
  width: 31%; }

[data-width="32"] {
  width: 32%; }

[data-width="35"] {
  width: 35%; }

[data-width="40"] {
  width: 40%; }

[data-width="50"] {
  width: 50%; }

ul.pagination {
  align-items: center;
  justify-content: center; }
  ul.pagination li:not(:last-child) {
    margin-right: 1.5625rem; }
  ul.pagination li.active a {
    background-color: #f4f4f4;
    height: 24px;
    width: 24px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center; }
  ul.pagination li a {
    font-size: 13px;
    color: #0a0a0a; }
    ul.pagination li a.arrows {
      padding: 0 0rem; }
      ul.pagination li a.arrows i {
        font-size: 1.875rem;
        line-height: 35px; }
    ul.pagination li a:hover {
      opacity: .8; }

.slider-handle {
  width: 1px;
  height: 13px;
  background-color: #9b176e;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  box-shadow: none;
  border: none;
  outline: none; }
  .slider-handle.round {
    border-radius: 0; }

.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
  margin-left: 0px; }

.slider.slider-horizontal .slider-track {
  height: 5px;
  margin-top: -6px; }

.slider-track {
  box-shadow: none;
  border-radius: 0;
  background: #d5d5d7; }

.slider-selection {
  border-radius: 0;
  background: #9b176e; }

@media screen and (max-width: 575px) {
  .hide-on-xs {
    display: none; }
  .show-on-xs {
    display: block !important; } }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #828282 !important;
  width: 2px; }

.mCSB_scrollTools .mCSB_draggerRail {
  background: #fff !important; }

.mCSB_inside > .mCSB_container {
  margin-right: 0; }

.inline-buttons {
  display: inline-flex; }

[data-width="5%"] {
  width: 5% !important; }

[data-width="6%"] {
  width: 6% !important; }

[data-width="8%"] {
  width: 8% !important; }

[data-width="10%"] {
  width: 10% !important; }

[data-width="12%"] {
  width: 12% !important; }

[data-width="13%"] {
  width: 13% !important; }

[data-width="14%"] {
  width: 14% !important; }

[data-width="15%"] {
  width: 15% !important; }

[data-width="18%"] {
  width: 18% !important; }

[data-width="20%"] {
  width: 20% !important; }

[data-width="25%"] {
  width: 25% !important; }

[data-width="30%"] {
  width: 30% !important; }

[data-width="35%"] {
  width: 30% !important; }

[data-width="38%"] {
  width: 38% !important; }

[data-width="40%"] {
  width: 40% !important; }

@media screen and (max-width: 1200px) {
  [data-width-lg="5%"] {
    width: 5% !important; }
  [data-width-lg="30%"] {
    width: 30% !important; }
  [data-width-lg="40%"] {
    width: 40% !important; } }

.pre-loader-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: #fff;
  transition: all .8s ease; }
  .pre-loader-wrapper .logo {
    margin-bottom: 0.625rem; }

.loaded .pre-loader-wrapper {
  left: -100%;
  z-index: 0; }

.loader {
  width: 250px;
  margin-top: 0rem;
  text-align: center; }
  .loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white; }
    .loader--dot:first-child {
      background-color: #c11e2f;
      animation-delay: 0.5s; }
    .loader--dot:nth-child(2) {
      background-color: #2a3487;
      animation-delay: 0.4s; }
    .loader--dot:nth-child(3) {
      background-color: #c11e2f;
      animation-delay: 0.3s; }
    .loader--dot:nth-child(4) {
      background-color: #2a3487;
      animation-delay: 0.2s; }
    .loader--dot:nth-child(5) {
      background-color: #c11e2f;
      animation-delay: 0.1s; }
    .loader--dot:nth-child(6) {
      background-color: #2a3487;
      animation-delay: 0s; }
  .loader .loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto; }
  .loader .loader--text:after {
    content: "Loading";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite; }

@keyframes loader {
  15% {
    transform: translateX(0); }
  45% {
    transform: translateX(230px); }
  65% {
    transform: translateX(230px); }
  95% {
    transform: translateX(0); } }
  .loader svg {
    width: 70px;
    height: 70px;
    text-align: center; }

/* Loaded styles */
.header-fixed {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 999; }
  .header-fixed header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.875rem 0;
    transition: .5s ease-out all; }
    .header-fixed header .logo {
      transition: .5s ease-out all; }
      .header-fixed header .logo img {
        transition: all 0.6s ease;
        max-width: 65px; }
    .header-fixed header .menu-icon {
      position: relative;
      cursor: pointer;
      z-index: 999; }
      .header-fixed header .menu-icon span {
        width: 19px;
        height: 2px;
        background: #ffffff;
        display: block;
        margin-bottom: 4px;
        transition: all .3s; }
        .header-fixed header .menu-icon span:nth-child(3) {
          position: relative; }
      .header-fixed header .menu-icon:hover span:nth-child(3) {
        width: 12px; }
    .header-fixed header ul {
      justify-content: flex-end; }
      .header-fixed header ul li {
        position: relative; }
        .header-fixed header ul li:not(:last-child) {
          margin-right: 2.9375rem; }
        .header-fixed header ul li a {
          color: #ffffff; }

.footer {
  padding: 0.9375rem 0;
  background-color: var(--default); }
  .footer .foot-flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer .foot-flex p {
      font-size: 0.875rem;
      color: #ffffff;
      margin-bottom: 0; }
    @media screen and (max-width: 767px) {
      .footer .foot-flex {
        flex-direction: column; } }
    .footer .foot-flex .social-nav {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media screen and (max-width: 767px) {
        .footer .foot-flex .social-nav {
          margin-top: 1.25rem; } }
      .footer .foot-flex .social-nav li:not(:last-child) {
        margin-right: 1.875rem;
        margin-bottom: 0; }
      .footer .foot-flex .social-nav li a {
        font-size: 0.9375rem;
        color: #fdfdfe;
        border: 1px solid #fdfdfe;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px; }
        .footer .foot-flex .social-nav li a:hover {
          opacity: .7; }

.content-wrapper {
  padding-bottom: 3.125rem; }

.main-banner {
  margin-bottom: -3px; }
  .main-banner .video {
    position: relative; }
    .main-banner .video iframe,
    .main-banner .video video {
      width: 100%;
      height: 100%;
      position: absolute; }
    .main-banner .video video {
      object-fit: cover; }
    .main-banner .video img {
      opacity: 0;
      position: relative;
      z-index: -999;
      width: 100%; }
  .main-banner .image {
    position: relative; }
    .main-banner .image > img {
      width: 100%; }
    .main-banner .image:after {
      width: 100%;
      height: 100%;
      background: rgba(6, 50, 79, 0.5);
      position: absolute;
      left: 0px;
      top: 0px;
      content: ""; }
  .main-banner .caption {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    text-align: center;
    padding: 0 20px;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 750px;
    margin: auto;
    right: 0; }
    .main-banner .caption p {
      font-size: 1.25rem;
      color: #fff;
      margin-bottom: 0px;
      line-height: normal;
      line-height: 2; }
    .main-banner .caption h1 {
      font-size: 3.5rem;
      color: #99d1eb;
      line-height: 1.3;
      margin-bottom: 1.875rem;
      position: relative;
      font-weight: 700; }

.main-services {
  max-height: 260px; }
  .main-services .image {
    position: relative;
    max-height: 260px; }
    .main-services .image > img {
      width: 100%; }
    .main-services .image:after {
      width: 100%;
      height: 100%;
      background: rgba(6, 50, 79, 0.5);
      position: absolute;
      left: 0px;
      top: 0px;
      content: ""; }
    .main-services .image:before {
      width: 95px;
      height: 38px;
      background: url("../images/kn-watermark.png");
      position: absolute;
      right: 25px;
      bottom: 18px;
      content: "";
      z-index: 2; }
  .main-services .caption {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    text-align: center;
    padding: 0 20px;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 340px;
    margin: auto;
    right: 0; }
    .main-services .caption .title {
      font-size: 1.25rem;
      color: #ffffff;
      line-height: 1.5;
      margin-bottom: 1.5625rem;
      position: relative; }
    .main-services .caption .date {
      font-size: 0.75rem;
      color: #fff;
      opacity: .52;
      margin-bottom: 0px;
      line-height: normal; }

.section-title {
  font-size: 2.5625rem;
  text-align: center;
  padding: 3.125rem 0 2.1875rem;
  color: var(--default);
  font-weight: 700; }

.section-subtitle {
  font-size: 1.125rem;
  text-align: center;
  color: var(--textPrimary);
  margin: auto;
  margin-bottom: 2.5rem;
  max-width: 795px;
  line-height: 1.5; }

.steps-wrapper {
  padding-top: 10.3125rem;
  padding-bottom: 4.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/map-bg.png) no-repeat;
  background-position: center 30px; }
  .steps-wrapper .step {
    display: flex;
    flex-direction: column; }
    .steps-wrapper .step.reverse {
      flex-direction: column-reverse;
      margin-top: -63px; }
      .steps-wrapper .step.reverse li .icon {
        margin-top: 0;
        margin-bottom: 20px;
        position: absolute;
        top: -85px;
        left: 50%;
        transform: translateX(-50%); }
    .steps-wrapper .step:not(:last-child) {
      margin-right: 15px; }
    .steps-wrapper .step li {
      text-align: center;
      position: relative; }
      .steps-wrapper .step li span {
        display: block; }
      .steps-wrapper .step li .counter {
        font-size: 2.604375rem;
        color: #484242; }
      .steps-wrapper .step li h4 {
        color: #686767;
        font-size: 1.680625rem;
        margin-bottom: 0.5rem; }
      .steps-wrapper .step li p {
        color: #686767;
        font-size: 0.82875rem;
        margin-bottom: 0; }
      .steps-wrapper .step li .step-counter {
        font-size: 1.680625rem;
        color: var(--green);
        margin-bottom: 0.625rem; }
      .steps-wrapper .step li.arrow {
        padding: 2.1875rem 0;
        margin-top: 10px;
        margin-bottom: 1.5625rem;
        position: relative; }
        .steps-wrapper .step li.arrow:before {
          width: 77px;
          height: 19px;
          background: url(../images/icon/direction.png);
          position: absolute;
          left: 50%;
          transform: translateX(-50%) rotate(180deg);
          top: 0px;
          content: ""; }
        .steps-wrapper .step li.arrow:after {
          width: 77px;
          height: 19px;
          background: url(../images/icon/direction.png);
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0px;
          content: ""; }
      .steps-wrapper .step li .icon {
        margin-top: 20px; }
      .steps-wrapper .step li:not(.arrow) {
        max-width: 160px;
        margin-left: auto;
        margin-right: auto; }

.case-studies {
  max-height: 436px; }
  .case-studies .image {
    position: relative;
    height: 436px; }
    .case-studies .image > img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .case-studies .image:after {
      width: 100%;
      height: 100%;
      background: rgba(6, 50, 79, 0.5);
      position: absolute;
      left: 0px;
      top: 0px;
      content: ""; }
    .case-studies .image:before {
      width: 63px;
      height: 31px;
      background: url("../images/icon/casestudy-watermark.png");
      background-repeat: no-repeat;
      position: absolute;
      right: 25px;
      bottom: 18px;
      content: "";
      z-index: 2; }
  .case-studies .caption {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 25px;
    padding: 0 20px;
    z-index: 2;
    max-width: 340px; }
    .case-studies .caption .title {
      font-size: 2rem;
      color: #ffffff;
      margin-bottom: 0rem;
      position: relative; }
  .case-studies .slick-arrow {
    top: 50%; }

.programs .section-subtitle {
  margin-bottom: 3.75rem; }

.programs .program {
  text-align: center;
  margin-bottom: 3.125rem; }
  .programs .program .icon {
    margin-bottom: 1.25rem;
    min-height: 58px; }
  .programs .program .title {
    text-transform: uppercase;
    font-size: 1rem;
    color: #222328;
    font-weight: 700;
    margin-bottom: 1.25rem; }
  .programs .program p {
    color: #4f5362;
    line-height: 1.3;
    max-height: 3.9em;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.aws-details {
  padding: 3.75rem 0;
  background: #162e49; }
  .aws-details .flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.4375rem;
    border-bottom: 1px solid #4a5b71;
    margin-bottom: 2.1875rem; }
    .aws-details .flex-wrapper .image {
      flex: 0 0 268px;
      margin-left: 3.75rem; }
    .aws-details .flex-wrapper p {
      color: #d8d8d8;
      line-height: 2;
      margin: 0; }
  .aws-details .detail-wrapper {
    display: flex;
    justify-content: space-between; }
  .aws-details .detail li {
    color: #ffffff;
    margin-bottom: 8px; }

.aws-comparison {
  background: #26384f;
  position: relative;
  overflow: hidden; }
  .aws-comparison .flex-wrapper {
    display: flex; }
    .aws-comparison .flex-wrapper > div {
      padding-top: 3.75rem;
      padding-bottom: 3.4375rem; }
      .aws-comparison .flex-wrapper > div h3 {
        color: #06314e;
        font-size: 2.083125rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 2rem; }
      .aws-comparison .flex-wrapper > div h5 {
        color: #06314e;
        font-size: 0.875rem;
        font-weight: 700;
        margin-bottom: 1.875rem;
        text-align: left;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        padding-top: 0.625rem; }
      .aws-comparison .flex-wrapper > div p {
        color: #06314e;
        font-size: 1.125rem; }
      .aws-comparison .flex-wrapper > div a.learn-more {
        color: var(--green);
        text-transform: uppercase;
        font-size: 0.75rem;
        float: right;
        margin-top: -32px; }
        .aws-comparison .flex-wrapper > div a.learn-more:hover {
          text-decoration: underline; }
      .aws-comparison .flex-wrapper > div.right-side {
        flex: 1;
        padding-left: 8.125rem;
        position: relative; }
        .aws-comparison .flex-wrapper > div.right-side h3 {
          color: #ffffff; }
        .aws-comparison .flex-wrapper > div.right-side p {
          color: #a8acb9; }
        .aws-comparison .flex-wrapper > div.right-side .has-margin {
          margin-top: 8rem; }
        .aws-comparison .flex-wrapper > div.right-side:before {
          width: 81px;
          height: 715px;
          background: url("../images/aws-pattern.png");
          background-repeat: no-repeat;
          position: absolute;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          z-index: 2; }
      .aws-comparison .flex-wrapper > div.left-side {
        background: #99d1eb;
        flex: 0 0 47%;
        position: relative;
        box-shadow: 0 0px 0px 0px #99d1eb, -500px 0 0px 0px #99d1eb;
        padding-right: 3.75rem; }
        .aws-comparison .flex-wrapper > div.left-side .button-row {
          margin-top: 2.8125rem; }

.contact-sec form {
  max-width: 750px;
  margin: auto; }

.caseStudy_wrapper .main-banner .caption h1 {
  color: #ffffff; }

.caseStudy_wrapper .desc-wrapper {
  display: flex;
  justify-content: space-between; }
  .caseStudy_wrapper .desc-wrapper h2 {
    color: #134566;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 1.5625rem; }
  .caseStudy_wrapper .desc-wrapper p {
    color: var(--textSecondary);
    font-size: 1.125rem;
    margin-bottom: 2.1875rem;
    font-family: "Montserrat", sans-serif; }
  .caseStudy_wrapper .desc-wrapper > div:not(.desc-box) {
    flex: 1; }
  .caseStudy_wrapper .desc-wrapper .desc-box {
    border: 1px solid #f0f2f7;
    border-radius: 6px;
    padding: 1.875rem;
    flex: 0 0 300px;
    max-width: 300px;
    margin-left: 4.0625rem; }

.inner-content {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 3.75rem 4.0625rem;
  margin-top: -6.25rem;
  position: relative; }

/*# sourceMappingURL=main.css.map */