@font-face {
  font-family: 'proxima-light';
  src: url("../fonts/proxima-light/ProximaNovaLight.eot");
  src: url("../fonts/proxima-light/ProximaNovaLight.eot") format("embedded-opentype"), url("../fonts/proxima-light/ProximaNovaLight.woff2") format("woff2"), url("../fonts/proxima-light/ProximaNovaLight.woff") format("woff"), url("../fonts/proxima-light/ProximaNovaLight.ttf") format("truetype"), url("../fonts/proxima-light/ProximaNovaLight.svg#ProximaNovaLight") format("svg"); }
@font-face {
  font-family: 'proxima-sb';
  src: url("../fonts/proxima-sb/ProximaNovaSemibold.eot");
  src: url("../fonts/proxima-sb/ProximaNovaSemibold.eot") format("embedded-opentype"), url("../fonts/proxima-sb/ProximaNovaSemibold.woff2") format("woff2"), url("../fonts/proxima-sb/ProximaNovaSemibold.woff") format("woff"), url("../fonts/proxima-sb/ProximaNovaSemibold.ttf") format("truetype"), url("../fonts/proxima-sb/ProximaNovaSemibold.svg#ProximaNovaSemibold") format("svg"); }
@font-face {
  font-family: 'proxima-r';
  src: url("../fonts/proxima-r/ProximaNovaRegular.eot");
  src: url("../fonts/proxima-r/ProximaNovaRegular.eot") format("embedded-opentype"), url("../fonts/proxima-r/ProximaNovaRegular.woff2") format("woff2"), url("../fonts/proxima-r/ProximaNovaRegular.woff") format("woff"), url("../fonts/proxima-r/ProximaNovaRegular.ttf") format("truetype"), url("../fonts/proxima-r/ProximaNovaRegular.svg#ProximaNovaRegular") format("svg"); }
  @font-face {
  font-family: 'proxima-bold';
  src: url("../fonts/proxima-bold/ProximaNovaBold.eot");
  src: url("../fonts/proxima-bold/ProximaNovaBold.eot") format("embedded-opentype"), url("../fonts/proxima-bold/ProximaNovaBold.woff2") format("woff2"), url("../fonts/proxima-bold/ProximaNovaBold.woff") format("woff"), url("../fonts/proxima-bold/ProximaNovaBold.ttf") format("truetype"), url("../fonts/proxima-bold/ProximaNovaBold.svg#ProximaNovaBold") format("svg"); }

.bs-gap-100{ margin: 0 -50px;}
.bs-gap-100{ padding: 0 50px;}


  html {font-size: 100%;}
  body { font-family: "proxima-light"; font-size: 1rem; color: #2c3847; line-height: 1; background: #fff; margin: 0; }
  ul{ list-style: none; margin: 0; padding: 0; }
  h6{ font-size: 1.06rem; color:#fff;font-family: 'proxima-sb'; margin: 0 0 1.875rem 0; text-transform: uppercase; }
  p{ font-size: 18px; color: #333333; font-family: 'proxima-r';}
.btn-default{ font-size: 1.25rem; padding: 10px 7px; min-width: 145px; height: 40px; background: #fff; display: flex; align-items: center; justify-content: center; border-radius: 40px; }
.dropdown .dropdown-menu{margin-top: .5rem; padding: 0.625rem; min-width: 102px;}
.dropdown .dropdown-menu .dropdown-item{ font-size: 0.8125rem; padding:0.3125rem 0.625rem;}

.header{ background: #fff; padding: .625rem 0 1.25rem 0; box-shadow: 0 15px 9px -4px #f2f2f2; border-bottom: 1px solid #e5e5e5; }
.header ul{ padding: 2.1875rem 0; }
.header ul.nav li:not(:last-child){ margin-right: 1.875rem; }
.header ul li a { font-size: 1rem; color:#929292; font-family: 'Poppins', sans-serif; font-weight: 500; text-decoration: none; transition: .5s all ease; }
.header ul li a:hover{ color:#006fc1; }
.header .dropdown img{ margin-right: .625rem; }
.header .dropdown .fa{ color:#2c3847; font-size: .9375rem; font-weight: 900; margin-left: .25rem; }
.header .right-links > ul{ display:flex; flex-wrap: wrap; align-items: center; padding: 1.25rem 0;}
.header .right-links > ul li:not(:last-child){ margin-right: 2.5rem; }
.header .right-links > ul li.arabic .btn-default {font-size: 1.25rem; box-shadow: 0 23px 26px -4px #cedbec;}
 

.user-request {padding: 1.15rem 0 0rem 0; }
.user-request .cetegories-wrapper{ display: flex; flex-wrap: wrap; overflow: hidden; }
.user-request .side-menu{width: 270px; padding: 2.6rem 0 9rem 0;position: relative;  box-shadow: 5px 0px 12px rgba(0,0,0,.05); transition: all .4s ease;}
.user-request .side-menu .menu-toggler{ position: absolute; left: 0; top: 0; display: inline-flex; flex-wrap: wrap; align-items: center; justify-content: center; padding: 0.6rem 0 0 1.25rem; }
.user-request .side-menu .menu-list{ padding-top: 3.125rem; width: 100%; }
.user-request .side-menu .menu-list ul li{display: flex; align-items: center; position: relative; padding: 0 1.5rem; }
.user-request .side-menu .menu-list ul li:hover{ background: #fafeff; font-family: 'proxima-sb'; }
.user-request .side-menu .menu-list ul li:hover a { color:#000;  }
.user-request .side-menu .menu-list ul li:hover span.counter{ background:  #74c209;}
.user-request .side-menu .menu-list ul li span.counter{ font-size: 1rem; font-weight: 400; min-width: 40px; width: auto; height: auto; margin: 0; line-height: 1; padding: 0.25rem 0.25rem; display: inline-flex; align-items: center; justify-content: center; position: absolute; right: 3px; top: 50%; transform: translateY(-50%); background: #cfcfcf; border-radius: 40px; color:#fff; font-family: 'proxima-sb';  }

.user-request .side-menu .menu-list ul li > a { font-family: 'proxima-r'; font-size: 1rem; height: 70px; padding: 1.6rem 0.6rem 1.6rem 2.5rem; flex-grow: 1; position: relative; color:#000000; transition: all .5s ease; text-decoration: none;}
.user-request .side-menu .menu-list ul li:hover a,
.user-request .side-menu .menu-list ul li.active a{font-family: 'proxima-sb';  }
.user-request .side-menu .menu-list ul li:hover,
.user-request .side-menu .menu-list ul li.active{ background:#fafeff; box-shadow: 0 13px 10px -5px #eaf0f7; }
.user-request .side-menu .menu-list ul li:hover,
.user-request .side-menu .menu-list ul li.active:before{ background-position: top; }
.user-request .side-menu .menu-list ul li.message a:before{content:''; width: 30px; height: 24px; position: absolute; background: url(../images/messages-icons.png)bottom center no-repeat;left: 0;top: 50%;transform: translateY(-50%);  }
.user-request .side-menu .menu-list ul li.loading a:before{content:''; width: 30px; height: 24px; position: absolute; background: url(../images/loading-icons.png)bottom center no-repeat;left: 0;top: 50%;transform: translateY(-50%);   }
.user-request .side-menu .menu-list ul li.active a:before,
.user-request .side-menu .menu-list ul li a:hover:before,
.user-request .side-menu .menu-list ul li a:focus:before{ background-position: top; }


/*.right-contents{width: calc(100% - 270px);  transition: all .4s ease; }
.right-contents .active-request {display: flex; flex-wrap: wrap; align-items: center; justify-content: space-around; padding-bottom: 1.5rem;}
.right-contents .active-request h6{ color: #000; font-family: 'proxima-r'; margin: 0; }
.right-contents .active-request label{font-family: 'proxima-sb'; padding-right: 0.365rem;  }
.right-contents .active-request .sort-by ul{ background: #f0f0f0; display: inline-flex; padding: 0.79rem 1rem; border-radius: 40px; }
.right-contents .active-request .sort-by ul li:not(:last-child){ margin-right: 0.5rem; }*/
/*.right-contents .active-request .sort-by ul li a{ font-size: 1rem; text-decoration: none; transition: all .5s ease; }*/
/*.right-contents .active-request .sort-by ul li { position: relative; cursor: pointer; }*/
.right-contents .active-request .sort-by ul li label { margin-bottom: 0; font-size: 1rem; padding-right: 0; color: #6d6d6d; font-family: 'proxima-sb'; transition: all .5s ease;  }
.right-contents .active-request .sort-by ul li label input[type=radio] { display: none; } 
.right-contents .active-request .sort-by ul li span{padding: 0.3125rem 0.5rem;padding-left: 1.7rem; cursor: pointer;}
.right-contents .active-request .sort-by ul li.bid span{ padding: 0.3125rem  1.125rem 0.3125rem  2rem;}
.right-contents .active-request .sort-by ul li.date span:before{content:''; width: 30px; height: 20px; position: absolute; background: url(../images/date-icon.png)bottom center no-repeat;left: 0;top: 50%; transform: translateY(-50%); }
.right-contents .active-request .sort-by ul li.bid span:before{content:''; width: 30px; height: 22px; position: absolute; background: url(../images/bid-icon.png)bottom center no-repeat;left:0; top: 50%; transform: translateY(-50%); }
.right-contents .active-request .sort-by input[type=radio]:checked + span{ color: #333d49; font-weight: 300; text-align: center; background: #fff;border-radius: 40px; box-shadow: 0 10px 5px -3px #cedbec; }
.right-contents .active-request .sort-by input[type=radio]:checked + span:before{ background-position: top; }

/*
.user-request.menu-open .side-menu{ margin-left: -165px; }
.user-request.menu-open .right-contents {width: calc(100% - 105px);}
.user-request.menu-open .side-menu .menu-list ul li span,
.user-request.menu-open .side-menu .menu-list ul li span.counter{display: none;}*/
.user-request.menu-open .left-col .menu > li > a {font-size: 0; min-height: 70px;}
.user-request.menu-open .side-menu .menu-list ul li a:before{ right: 0; left: auto; }
.user-request.menu-open .menu-toggler{ right: 20px; left: auto;}

/*.detail-section{ background: url(../images/content-img.jpg) center center no-repeat; background-size: cover; padding: 40px 0; height: 100%;  }
.detail-section .bid-wrapper{ width: 100%; height: 100%; max-width: 850px; display: block; margin: auto; }
.detail-section .bid-wrapper .items{ margin-bottom: 2.1875rem; }
.detail-section .bid-wrapper li:not(:last-child):after{ content: ':'; position: absolute;right: -14px; top: 0; }*/
/*.detail-section .bid-head{width: 100%;position: relative;display: flex; flex-wrap:wrap;align-items: center; justify-content: space-between; padding: 17px 35px 17px 35px; background: #fff; border: 0; border-radius: 30px; outline: none; box-shadow: none; }
.detail-section .bid-head span.sorting{ content: ''; position: absolute; width: 54px; height: 54px; border-radius: 50px; left: -70px; top: 0; border: 4px solid #fff; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; font-size: 1.6rem; color:#fff; font-family: 'proxima-sb'; background: #0d78ad; background: -moz-linear-gradient(45deg,  #0d78ad 11%, #0d78ad 11%, #6abb18 100%); background: -webkit-linear-gradient(45deg,  #0d78ad 11%,#0d78ad 11%,#6abb18 100%);  background: linear-gradient(45deg,  #0d78ad 11%,#0d78ad 11%,#6abb18 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d78ad', endColorstr='#6abb18',GradientType=1 ); }
.detail-section .bid-head:after{ content: '\f067'; font-family: 'FontAwesome'; position: absolute; right: 35px; color: #4ca549; font-size: 17px; }
.detail-section .bid-head.collapsed:after{ content: '\f068'; }sss
.detail-section .bid-head .prize{ display: inline-flex; align-items: center; }
.detail-section .bid-head .prize li{ position: relative; }
.detail-section .bid-head .prize li:not(:last-child){ margin-right: 1.5rem; }
.detail-section .bid-head .prize li.green{ font-size: 1.5rem; color:#74c209; font-family: 'proxima-sb'; }
.detail-section .bid-head .prize li.green span{ font-size: 0.8rem;font-family: 'proxima-r'; position: relative;  }
.detail-section .bid-head .prize li.green span:after{content: ''; position: absolute; background: url(../images/arrow-up.png) left top no-repeat; width: 13px; height: 15px; right: -24px; top: -5px; }
.detail-section .bid-head.collapsed .prize li.green span:after{background: url(../images/arrow-down.png) left top no-repeat;}
.detail-section .bid-head .bid-time p{ margin: 0; }
.detail-section .bid-head .bid-number h6{color:#74c209; margin: 0; padding-right: 2.1875rem; }*/

.detail-section .bid-body{ padding-top: 1.8rem;}
.detail-section .bid-body .detail-box{ padding: 1.25rem 0.9375rem; text-align: center; background: #fff; border-radius: 20px; }
.detail-section .bid-body .detail-box:not(:last-child){ margin-right: 24px; }
.detail-section .bid-body .detail-box h6{ color:#2c3847; font-family: 'proxima-r'; margin-bottom: 4px; }
.detail-section .bid-body .detail-box h1{ font-size: 3.1rem; color:#74c209; font-family: 'proxima-sb'; position: relative; margin-bottom: 35px;  }
.detail-section .bid-body .detail-box h1 span{ font-size: 1.6rem; font-family: 'proxima-light';  }
.detail-section .bid-body .detail-box h1:after{ content: ''; position: absolute; background: url(../images/detail-box-border.png) left top repeat-x; left: 0; bottom: -10px; height: 1px; width: 100%;}
.detail-section .bid-body .detail-box ul{ display: flex; flex-wrap: wrap; margin-bottom: 0.9rem; }
.detail-section .bid-body .detail-box ul:last-child{ margin-bottom: 1.8rem; }
.detail-section .bid-body .detail-box ul li{ position: relative; color:#7f7f7f; font-family: 'proxima-r';}
.detail-section .bid-body .detail-box ul li:first-child{ min-width: 116px; margin-right: 1.25rem; color:#2c3847; text-align: left; }
.detail-section .bid-body .detail-box ul li:not(:last-child):after{ content: ':';right: -12px; top: 0;  }
 .detail-section .bid-body .row > .col-sm-4{ flex: 0 0 31.333333%; max-width: 31.333333%;}
.detail-section .bid-body .detail-box .button-row{ position: absolute;  left: 50%; transform: translateX(-50%); }
.detail-section .bid-body .detail-box .btn-default{ color:#3498db; font-size: 0.850rem; font-family: 'proxima-sb'; text-transform: uppercase; height: 40px; transition: .5s all ease;}
.detail-section .bid-body .detail-box .btn-default:hover{ background: #006fc1; color:#fff; border:3px solid #fff; height: 40px; }


.footer{padding: 2rem 0 0 0; background: rgb(0,14,65);
background: linear-gradient(16deg, rgba(0,14,65,1) 6%, rgba(73,143,83,1) 65%, rgba(183,190,58,1) 100%); position: relative; z-index: 1; color:#fff; }
.footer:before{content: ''; width: 100%; height: 1px; background: url(../images/footer-border.png) left top repeat-x; position: absolute; left: 0; top: 10px;}
.footer ul li:not(:last-child){ margin-bottom: 1.370rem; }
.footer ul li a { font-size: 1.08rem; color:#fff; font-family: 'proxima-r'; text-decoration: none; transition: .5s all ease; }
.footer .about-us ul li a:hover {color:#006fc1;  }
.footer ul.follow-us { display: flex; flex-wrap:wrap;max-width: 190px;}
.footer ul.follow-us li{ margin-bottom: 0.8125rem; }
.footer ul.follow-us li:not(:last-child){ margin-right: 1.30rem; }
.footer ul.follow-us a{ width: 40px; height: 40px; background-color: rgba(255,255,255,0.10); border-radius: 50px; display: flex; align-items: center; justify-content: center; }

.footer .payment-method ul:not(:last-child){ margin-bottom: .7rem;}
.footer .payment-method ul li{ display: inline-block; width: 78px; height: 40px; background-color: rgba(255,255,255,0.10); margin-bottom: 0; border-radius: 20px; padding: 8px 13px; display: inline-flex; align-items: center; justify-content: center; }
.footer .payment-method ul li:not(:last-child){ margin-right: 0.8rem; }
.footer .copyright{ background: #fff; text-align: center; padding: 1.3rem 0; margin-top: 2.5rem;}
.footer .copyright p{ margin: 0; }