html {
    font-size: 100%;
}

body {
    font-size: rem(14px);
    font-family: $primary-font;
    color: #000;
    //letter-spacing: 1px;
    //font-weight:400;
    line-height: normal;
    padding: 0;
    margin: 0;
    background: #fff;
    overflow-X: hidden;
    // padding-top:154px;
    &.front-page {
        //padding-top:0;
    }
}

@media screen and (max-width: 991px) {
    html {
        font-size: 90%;
    }
    body{
        //padding-top: 89px;
    }
    
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
        color: #9b176e;
        text-decoration: none;
    }
    &:focus {
        outline: none;
        text-decoration: none;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

// .container-md {
//     max-width: 955px;
//     margin: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }

// .container-sm {
//     max-width: 755px;
//     margin: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }