.col-gap-0 {
    margin-left: -0px;
    margin-right: -0px;
}

.col-gap-0>div {
    padding-left: 0px;
    padding-right: 0px;
}

.col-gap-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.col-gap-10>div {
    padding-left: 10px;
    padding-right: 10px;
}

.col-gap-20 {
    margin-left: -10px;
    margin-right: -10px;
}

.col-gap-20>div {
    padding-left: 10px;
    padding-right: 10px;
}

.col-gap-40 {
    margin-left: -20px;
    margin-right: -20px;
}

.col-gap-40>div {
    padding-left: 20px;
    padding-right: 20px;
}

.col-gap-60 {
    margin-left: -30px;
    margin-right: -30px;
}

.col-gap-60>div {
    padding-left: 30px;
    padding-right: 30px;
}

.col-gap-80 {
    margin-left: -40px;
    margin-right: -40px;
}

.col-gap-80>div {
    padding-left: 40px;
    padding-right: 40px;
}

.margin-bottom-40 {
    margin-bottom: rem(40px) !important;
}

.bootstrap-datetimepicker-widget button[data-action] {
    width: auto !important;
    padding: 6px 10px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    top: -9px;
    left: 12px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
    content: none;
}

.bootstrap-datetimepicker-widget {
    &.dropdown-menu {
        width: 16em;
    }
}





.slick-slider * {
    outline: none !important;
}

.slick-arrow {
    position: absolute;
    display: block;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    transform: translateY(-50%);
    padding: 0;
    border: 1px solid #ffffff;
    outline: none !important;
    z-index: 9;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    top: 43%;
    transform: translateY(-50%);
    right: 27px;
    border-radius: 50%;
    transition: .3s all ease-in-out;
     :focus {
        outline: none;
    }
    &:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 19px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.485 18.871'%3E%3Cpath id='Path_5410' data-name='Path 5410' d='M124.435-3152.129a1.046,1.046,0,0,1-.741-.307l-8.387-8.387a1.047,1.047,0,0,1,0-1.483l8.387-8.387a1.048,1.048,0,0,1,1.482,0,1.047,1.047,0,0,1,0,1.482l-7.646,7.646,7.646,7.646a1.047,1.047,0,0,1,0,1.483,1.046,1.046,0,0,1-.741.307' transform='translate(-115 3171)' fill='%23ffffff' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &.slick-prev {
        left: 27px;
        right: auto;
    }
    &.slick-next {
        &:before {
            transform: translate(-50%, -50%) rotate(180deg);
            top: 50%;
        }
    }
    &.slick-disabled {
        pointer-events: none;
        opacity: 0;
        &:before {
            opacity: 0.2;
        }
    }
    &:hover {
        // background: #000;
        // border-color: #000;
        opacity: .75;

        &:before {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.485 18.871'%3E%3Cpath id='Path_5410' data-name='Path 5410' d='M124.435-3152.129a1.046,1.046,0,0,1-.741-.307l-8.387-8.387a1.047,1.047,0,0,1,0-1.483l8.387-8.387a1.048,1.048,0,0,1,1.482,0,1.047,1.047,0,0,1,0,1.482l-7.646,7.646,7.646,7.646a1.047,1.047,0,0,1,0,1.483,1.046,1.046,0,0,1-.741.307' transform='translate(-115 3171)' fill='%23ffffff' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
        }
    }
}

.slick-dots {
    position: absolute;
    bottom: 27px;
    width: 100%;
    text-align: center;
    margin: 0;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots li:not(:last-child) {
    margin-right: 9px;
}

.slick-dots button {
    width: 9px;
    height: 9px;
    padding: 0;
    border: 0;
    background: #87919a;
    font-size: 0;
    transition: all .2s ease;
    border-radius: 20px;
}

.slick-dots .slick-active button {
    background: #ffffff;
    width: 12px;
    height: 12px;
}

.m-b-75 {
    margin-bottom: rem(75px) !important;
}

.m-b-15 {
    margin-bottom: rem(15px) !important;
}

.m-t-40 {
    margin-top: rem(40px) !important;
}

.p-t-20 {
    padding-top: rem(20px) !important;
}

.p-t-36 {
    padding-top: rem(36px) !important;
}

.mt-50 {
    margin-top: rem(50px) !important;
}

.mb-20 {
    margin-bottom: rem(20px) !important;
}

.mb-50 {
    margin-bottom: rem(50px) !important;
}

.mb-45 {
    margin-bottom: rem(45px) !important;
}

.card {
    border: 1px solid #d1ecf9;
    background: white;
    margin-bottom: rem(34px);
    border-radius: 0;
    box-shadow: 0px 8px 6px 4px rgba(245, 245, 245, .7);
    transition: .5s all ease;
    position: relative;
    .card-body {
        padding: rem(16px);
        h6 {
            margin-bottom: 0;
        }
        p {
            color: #b5b5b5;
            font-size: 12px;
            font-weight: 400;
        }
    }
    &:hover {
        box-shadow: 0px 4px 19px 2px rgba(63, 161, 248, 0.4);
    }
}


/* key-frames */

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.nav-tabs {
    border: 0;
    padding-bottom: rem(27px);
    .nav-link {
        border: 0;
        border-bottom: 3px solid transparent;
        background: transparent;
        color: #101010;
        font-size: rem(13px);
        display: flex;
        align-items: center;
        padding: 0;
        padding-bottom: 1px;
        &.active {
            background: transparent;
            color: #101010;
            border-bottom: 3px solid #9b176e;
            opacity: 1;
        }
        &:hover {}
    }
    .nav-item {
        &:not(:last-child) {
            margin-right: rem(45px);
            position: relative;
            &:after {
                position: absolute;
                content: none;
                height: 9px;
                width: 1px;
                background: var(--primary);
                right: -25px;
                top: 4px;
            }
        }
    }
}

ul.nav-pills {
    justify-content: center;
    border: 2px solid var(--default);
    overflow: hidden;
    display: inline-flex;
    border-radius: 30px;
    > li {
        &:not(:last-child) {
            border-right: 2px solid var(--default);
        }
        a {
            color: #4f5362;
            font-size: rem(12px);
            text-transform: uppercase;
            transition: .3s all ease-in-out;
            padding: rem(14px) rem(30px);
            &.active {
                background-color: #06314e!important;
                border-radius: 0;
            }
        }
    }
}

// @mixin truncate($truncation-boundary) {
//     max-width: $truncation-boundary;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }
@mixin truncate($lines,
$lh: 1.3,
$spacer:0) {
    line-height: $lh;
    max-height: $lh * $lines + $spacer + em;
    // overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.heading {
    font-size: rem(28px);
    color: #0a0a0a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: rem(40px);
    margin-top: 0;
    &:before {
        //content: "";
        //position: absolute;
        //width: 70px;
        //height: 4px;
        //background: url(../images/icons.png) left 2px top -60px no-repeat;
        //left: 0;
        //top: 0;
    }
}



input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: pointer;
    display: block;
    z-index: 8;
}



.modal {
    text-align: center;
    padding: 0 !important;
    z-index: 99999;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal-dialog {
        width: 835px;
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        margin: 15px 0;
        @media screen and (max-width: 991px) {
            width: 95%;
        }
        @media (min-width: 576px) {
            max-width: 100%;
        }
        .modal-content {
            box-shadow: none;
            border: none;
            width: inherit;
            height: inherit;
            margin: 0 auto;
            pointer-events: all;
            background: #fff;
            overflow: visible;
            text-align: center;
            padding: rem(40px);
            position: relative;
            border-radius: 0;
            // .popup-cross-icon {
            //     position: absolute;
            //     top: 24px;
            //     right: 17px;
            //     cursor: pointer;
            //     z-index: 1000;
            //     width: 28px;
            //     height: 28px;
            //     background: transparent;
            //     border-radius: 50px;
            //     display: flex;
            //     flex-wrap: wrap;
            //     align-items: center;
            //     justify-content: center;
            //     background:url(../images/icons.png) 1px -250px no-repeat;
            //         i {
            //             color: #fff;
            //             font-size: rem(17px);
            //             line-height: 16px;
            //             display: inherit;
            //             display: none;
            //         }
            //         &:hover{
            //             opacity: .8;
            //         }
            // }
            .popup-cross-icon {
                font-weight: normal;
                position: absolute;
                cursor: pointer;
                right: 20px;
                font-size: rem(25px);
                top: 20px;
                z-index: 1000;
                &:hover {
                    i {
                        color: var(--primary);
                    }
                }
            }
            .modal-title {
                font-size: rem(28px);
                color: #0a0a0a;
                //font-weight: 600;
                margin-bottom: rem(45px);
                position: relative;
                padding-top: rem(0px);
                padding-bottom: 0;
                border: 0;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            .modal-body {
                padding: 0;
                p {}
                .button-row {}
            }
        }
    }
    &.large {
        .modal-dialog {
            width: 985px;
            @media screen and (max-width: 1200px) {
                width: 90%;
            }
            @media screen and (max-width:991px) {
                width: 95%;
            }
        }
    }
    &.medium {
        .modal-dialog {
            width: 590px;
            @media screen and (max-width: 768px) {
                width: 95%;
            }
        }
    }
    &.small {
        .modal-dialog {
            width: 395px;
            @media screen and (max-width: 500px) {
                width: 95%;
            }
        }
    }
    &.small-modal {
        .modal-dialog {
            width: 395px;
            @media screen and (max-width: 552px) {
                width: 95%;
            }
        }
    }
    &.custom-modal {
        .modal-body {
            /*padding: 25px 30px 20px 30px;*/
            padding: 0;
            visibility: hidden;
            height: 595px;
            overflow: hidden;
            &.show {
                visibility: visible;
                height: auto;
                overflow: visible;
            }
        }
    }
}

img {
    max-width: 100%;
}

figure {
    position: relative;
}

.abs-link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
}

.hover {
    position: relative;
    overflow: hidden;
    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        content: '';
        width: 0;
        height: 0;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    &:hover {
        &:before {
            -webkit-animation: circle .85s;
            animation: circle .85s;
        }
    }
}

.content-box {
    background: white;
    border: 1px solid #c6e2f1;
    border-radius: 25px;
    padding: rem(40px) rem(20px) rem(20px) rem(20px);
    box-shadow: 0px 9px 8px -3px #dbdcdf;
    position: relative;
}

.d-none {
    display: none;
}

.custom-table {
    display: table;
    width: 100%;
    margin-top: rem(0px);
    &.table-small {
        width: 85%;
    }
    .thead {
        .trow {
            border-bottom: 1px solid #ebebeb;
            .table-cell {
                padding: 19px 10px 19px 0px;
            }
        }
    }
    .tbody {
        .trow {
            margin-bottom: rem(20px);
        }
    }
    .trow {
        display: table;
        width: 100%;
        table-layout: fixed;
        .table-cell {
            display: table-cell;
            padding: 17px 10px 16px 0px;
            font-size: rem(14px);
            color: #333333;
            &:first-child {
                //padding-left: rem(17px);
                a {
                    color: #000;
                    &:hover {
                        color: #158f7a;
                    }
                }
            }
        }
    }
    .table-footer {
        padding: 20px 10px;
        @include flex(center,
        space-between);
    }
}

[data-width="7"] {
    width: 7%
}

[data-width="8"] {
    width: 8%
}

[data-width="9"] {
    width: 9%
}

[data-width="10"] {
    width: 10%
}

[data-width="11"] {
    width: 11%
}

[data-width="12"] {
    width: 12%
}

[data-width="13"] {
    width: 13%
}

[data-width="14"] {
    width: 14%
}

[data-width="15"] {
    width: 15%
}

[data-width="16"] {
    width: 16%
}

[data-width="17"] {
    width: 17%
}

[data-width="18"] {
    width: 18%
}

[data-width="19"] {
    width: 19%
}

[data-width="20"] {
    width: 20%
}

[data-width="21"] {
    width: 21%
}

[data-width="22"] {
    width: 22%
}

[data-width="24"] {
    width: 24%
}

[data-width="25"] {
    width: 25%
}

[data-width="26"] {
    width: 26%
}

[data-width="27"] {
    width: 27%
}

[data-width="28"] {
    width: 28%
}

[data-width="30"] {
    width: 30%
}

[data-width="31"] {
    width: 31%
}

[data-width="32"] {
    width: 32%
}

[data-width="35"] {
    width: 35%
}

[data-width="40"] {
    width: 40%
}

[data-width="50"] {
    width: 50%
}

ul {
    &.pagination {
        align-items: center;
        justify-content: center;
        li {
            &:not(:last-child) {
                margin-right: rem(25px);
            }
            &.active {
                a {
                    background-color: #f4f4f4;
                    height: 24px;
                    width: 24px;
                    border-radius: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            a {
                font-size: 13px;
                color: #0a0a0a;
                &.arrows {
                    padding: 0 rem(0px);
                    i {
                        font-size: rem(30px);
                        line-height: 35px;
                    }
                }
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}

.slider-handle {
    width: 1px;
    height: 13px;
    background-color: #9b176e;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    box-shadow: none;
    border: none;
    outline: none;
    &.round {
        border-radius: 0;
    }
}

.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
    margin-left: 0px;
}

.slider.slider-horizontal .slider-track {
    height: 5px;
    margin-top: -6px;
}

.slider-track {
    box-shadow: none;
    border-radius: 0;
    background: #d5d5d7;
}

.slider-selection {
    border-radius: 0;
    background: #9b176e;
}

@media screen and (max-width:575px) {
    .hide-on-xs {
        display: none;
    }
    .show-on-xs {
        display: block !important;
    }
}

.mCSB_scrollTools {
    .mCSB_dragger {
        .mCSB_dragger_bar {
            background: #828282 !important;
            width: 2px;
        }
    }
    .mCSB_draggerRail {
        background: #fff !important;
    }
}

.mCSB_inside>.mCSB_container {
    margin-right: 0;
}





.inline-buttons {
    display: inline-flex;
}

[data-width="5%"] {
    width: 5% !important;
}

[data-width="6%"] {
    width: 6% !important;
}

[data-width="8%"] {
    width: 8% !important;
}

[data-width="10%"] {
    width: 10% !important;
}

[data-width="12%"] {
    width: 12% !important;
}

[data-width="13%"] {
    width: 13% !important;
}

[data-width="14%"] {
    width: 14% !important;
}

[data-width="15%"] {
    width: 15% !important;
}

[data-width="18%"] {
    width: 18% !important;
}

[data-width="20%"] {
    width: 20% !important;
}

[data-width="25%"] {
    width: 25% !important;
}

[data-width="30%"] {
    width: 30% !important;
}

[data-width="35%"] {
    width: 30% !important;
}

[data-width="38%"] {
    width: 38% !important;
}

[data-width="40%"] {
    width: 40% !important;
}

@media screen and (max-width:1200px) {
    [data-width-lg="5%"] {
        width: 5% !important;
    }
    [data-width-lg="30%"] {
        width: 30% !important;
    }
    [data-width-lg="40%"] {
        width: 40% !important;
    }
}

.pre-loader-wrapper{
    position:fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: #fff;
    transition: all .8s ease;
    .logo{
        // width:185px;
        margin-bottom: rem(10px);
    }
}
.loaded .pre-loader-wrapper{
    left: -100%;
    z-index: 0;
}

.loader{
    // height: 20px;
    width: 250px;
    margin-top: rem(0px);
    text-align:center;
    &--dot{
        animation-name: loader;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: black;
        position: absolute;
        border: 2px solid white;
        &:first-child
        {
            background-color: #c11e2f;
            animation-delay: 0.5s;
        }
        &:nth-child(2){
            background-color: #2a3487;
            animation-delay: 0.4s;
        }
        &:nth-child(3){
            background-color: #c11e2f;
            animation-delay: 0.3s;
        }
        &:nth-child(4){
            background-color: #2a3487;
            animation-delay: 0.2s;
        }
        &:nth-child(5){
            background-color: #c11e2f;
            animation-delay: 0.1s;
        }
        &:nth-child(6){
            background-color: #2a3487;
            animation-delay: 0s;
        }
    }
    .loader--text {
        position: absolute;
        top: 200%;
        left: 0;
        right: 0;
        width: 4rem;
        margin: auto;
      }
      .loader--text:after {
        content: "Loading";
        font-weight: bold;
        animation-name: loading-text;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
      
      @keyframes loader {
        15% {
          transform: translateX(0);
        }
        45% {
          transform: translateX(230px);
        }
        65% {
          transform: translateX(230px);
        }
        95% {
          transform: translateX(0);
        }
      }
      svg{
          width: 70px;
          height: 70px;
          text-align:center;
      }
    
}


/* Loaded styles */