@import 'functions';

// font-name

$primary-font: 'Comfortaa', cursive;
$mon: "Montserrat", sans-serif;
$arabic-font:'GE_SS_TEXT_LIGHT_1';



@font-face {
    font-family: 'DroidArabicKufiRegular';
    src: url('../fonts/DroidKufi-Regular/droidkufi-regular.eot');
    src: url('../fonts/DroidKufi-Regular/droidkufi-regular.eot') format('embedded-opentype'),
         url('../fonts/DroidKufi-Regular/droidkufi-regular.woff') format('woff'),
         url('../fonts/DroidKufi-Regular/droidkufi-regular.ttf') format('truetype'),
         url('../fonts/DroidKufi-Regular/droidkufi-regular.svg#DroidArabicKufiRegular') format('svg');
}



  
//colors

:root {
	--primary: #353d54;
    --default: #09304f; 
    --green: #a6c53b;

	--secondary: #99d1eb;
    --textPrimary: #222222;
    --textSecondary: #3a405b;


	--easing: cubic-bezier(0.8, 0, 0.2, 1);
	--duration: 0.6s;
}

// $primary:#9b176e;
// $secondary: #2c3f42;
// $default:#2c2c2c;
// $white:#fff;
// $black:#000;
// $grey: #dde1ea;



//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            #3a3b3b !default;
$text-color-secondary: 			#252525;
//** Global textual link color.
$link-color:            #828282 !default;
$link_color_secondary:	#f47d21;
//** Link hover color set via `darken()` function.
$link-hover-color:      #46a4e5 !default;
$link-hover-secondary-color: #2d2c34 ;
//** Link hover decoration.
$link-hover-decoration: none !default;
//** Primary Font


$spacing-unit: rem(20px);
$spacing-unit--x-small: rem(10px);
$spacing-unit--small: rem(15px);
$spacing-unit--medium: rem(30px);
$spacing-unit--large: rem(40px);
$spacing-unit--x-large: rem(60px);
$rel-spacing-unit: 1em;
$rel-spacing-unit--small: .5em;


//**column gaps
.col-gap-32 {margin-left: -16px; margin-right: -16px;}
.col-gap-32 > div {padding-left: 16px; padding-right: 16px;}

// font sizes
$h--1: (
	base: rem(30px),
	tablet: rem(36px),
	desktop: rem(42px),
);
$h--2: (
	base: rem(32px),
	tablet: rem(32px),
	desktop: rem(32px),
);
$h--3: (
	base: rem(22px),
	tablet: rem(26px),
	desktop: rem(30px),
);
$h--4: (
	base: rem(20px),
	tablet: rem(22px),
	desktop: rem(26px),
);
$h--5: (
	base: rem(18px),
	tablet: rem(20px),
	desktop: rem(22px),
);
$h--6: (
	base: rem(16px),
	tablet: rem(14px),
	desktop: rem(16px),
);

$p: rem(16px);
$p--small: rem(12px);
$p--medium: rem(18px);
$p--large: rem(24px);

// line-height ratios
$lh: 1.5;
$lh--x-small: 1.1;
$lh--small: 1.25;
$lh--large: 1.75;

// letter spacing
$ls: (
	// base: -30
);

// weights
// $w--light: 300;
$w--normal: 400;
$w--medium: 500;
$w--semibold: 600;
$w--bold: 700;
// $w--heavy: 800;

$breakpoints: (
				mobile:  320px,
				landscape:  767px,
				ipadlandscape: 991px,
				ipad: 1024px,
				ipadlarge: 1200px,
				wide:    1300px
) !default;



