@import 'utility/variables';
@import 'utility/functions';
@import 'base/base';
@import 'core/_button';
@import 'core/_typography'; 
@import 'core/_form';
@import 'common/_common';
@import 'layout/_site-header';
@import 'layout/_site-footer'; 




.content-wrapper {
    padding-bottom: rem(50px);
}

.main-banner {
    margin-bottom: -3px;
    .video {
        position: relative;
        iframe,
        video {
            width: 100%;
            height: 100%;
            position: absolute;
        }
        video {
            object-fit: cover;
        }
        img {
            opacity: 0;
            position: relative;
            z-index: -999;
            width: 100%;
        }
    }
    .image {
        position: relative;
        //z-index: -1;
        >img {
            width: 100%;
        }
        &:after {
            width: 100%;
            height: 100%;
            background: rgba(6, 50, 79, 0.5);
            position: absolute;
            left: 0px;
            top: 0px;
            content: "";
        }
        
    }
    .caption {
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        text-align: center;
        padding: 0 20px;
        transform: translateY(-50%);
        z-index: 2;
        max-width: 750px;
        margin: auto;
        right: 0;
        p {
            font-size: rem(20px);
            color: #fff;
            margin-bottom: 0px;
            line-height: normal;
            line-height: 2;
        }
        h1 {
            font-size: rem(56px);
            color: #99d1eb;
            line-height: 1.3;
            margin-bottom: rem(30px);
            // letter-spacing: 3px;
            position: relative;
            font-weight: 700;
        }
    
    }
}


.main-services {
    max-height: 260px;
    .image {
        position: relative;
        max-height: 260px;
        //z-index: -1;
        >img {
            width: 100%;
        }
        &:after {
            width: 100%;
            height: 100%;
            background: rgba(6, 50, 79, 0.5);
            position: absolute;
            left: 0px;
            top: 0px;
            content: "";
        }
        &:before {
            width: 95px;
            height: 38px;
            background: url('../images/kn-watermark.png');
            position: absolute;
            right: 25px;
            bottom: 18px;
            content: "";
            z-index: 2;
        }
    }
    .caption {
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        text-align: center;
        padding: 0 20px;
        transform: translateY(-50%);
        z-index: 2;
        max-width: 340px;
        margin: auto;
        right: 0;
        
        .title {
            font-size: rem(20px);
            color: #ffffff;
            line-height: 1.5;
            margin-bottom: rem(25px);
            position: relative;
        }
        .date {
            font-size: rem(12px);
            color: #fff;
            opacity: .52;
            margin-bottom: 0px;
            line-height: normal;
        }
    
    }
}

// h2 {
//     font-size: rem(28px);
//     text-align: center;
//     position: relative;
//     z-index: 1;
//     text-transform: uppercase;
//     padding: rem(50px) 0 rem(65px);
//     letter-spacing: 3px;
//     &.section-title {
//         &:before {
//             content: '';
//             position: absolute;
//             width: 92%;
//             height: 1px;
//             background: #cccccc;
//             top: 47%;
//             left: 0;
//             margin: auto;
//             z-index: -1;
//         }
//         span {
//             background: #fff;
//             padding: 0 35px;
//         }
        
//     }
// }

.section-title {
    font-size: rem(41px);
    text-align: center;
    padding: rem(50px) 0 rem(35px);
    color: var(--default);
    font-weight: 700;
}

.section-subtitle {
    font-size: rem(18px);
    text-align: center;
    color: var(--textPrimary);
    margin: auto;
    margin-bottom: rem(40px);
    max-width: 795px;
    line-height: 1.5;
}

.steps-wrapper {
    padding-top: rem(165px);
    padding-bottom: rem(73px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/map-bg.png) no-repeat;
    background-position: center 30px;
    .step {
        display: flex;
        flex-direction: column;
        &.reverse {
            flex-direction: column-reverse;
            margin-top: -63px;
            li {
                .icon {
                    margin-top: 0;
                    margin-bottom: 20px;
                    position: absolute;
                    top: -85px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        &:not(:last-child) {
            margin-right: 15px;
        }
        li {
            text-align: center;
            position: relative;
            span {
                display: block;
            }
            .counter {
                font-size: rem(41.67px);
                color: #484242;
            }
            h4 {
                color: #686767;
                font-size: rem(26.89px);
                 margin-bottom: rem(8px);
            }
            p {
                color: #686767;
                font-size: rem(13.26px);
                margin-bottom: 0;
            }
            .step-counter {
                font-size: rem(26.89px);
                color: var(--green);
                margin-bottom: rem(10px);
            }
            &.arrow {
                padding: rem(35px) 0;
                margin-top: 10px;
                margin-bottom: rem(25px);
                position: relative;
                &:before {
                    width: 77px;
                    height: 19px;
                    background: url(../images/icon/direction.png);
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%) rotate(180deg);
                    top: 0px;
                    content: "";
                }
                &:after {
                    width: 77px;
                    height: 19px;
                    background: url(../images/icon/direction.png);
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0px;
                    content: "";
                }
            }
            .icon {
                margin-top: 20px;
            }
            &:not(.arrow) {
                max-width: 160px;
                margin-left: auto;
                margin-right: auto;
            }
            
        }
    }
}

.case-studies {
    max-height: 436px;
    .image {
        position: relative;
        height: 436px;
        //z-index: -1;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:after {
            width: 100%;
            height: 100%;
            background: rgba(6, 50, 79, 0.5);
            position: absolute;
            left: 0px;
            top: 0px;
            content: "";
        }
        &:before {
            width: 63px;
            height: 31px;
            background: url('../images/icon/casestudy-watermark.png');
            background-repeat: no-repeat;
            position: absolute;
            right: 25px;
            bottom: 18px;
            content: "";
            z-index: 2;
        }
    }
    .caption {
        position: absolute;
        left: 0px;
        width: 100%;
        bottom: 25px;
        padding: 0 20px;
        z-index: 2;
        max-width: 340px;
        
        .title {
            font-size: rem(32px);
            color: #ffffff;
            margin-bottom: rem(0px);
            position: relative;
        }

    }
    .slick-arrow {
        top: 50%;
    }
}

.programs {
    .section-subtitle {
        margin-bottom: rem(60px);
    }
    .program {
        text-align: center;
        margin-bottom: rem(50px);
        .icon {
            margin-bottom: rem(20px);
            min-height: 58px;
        }
        .title {
            text-transform: uppercase;
            font-size: rem(16px);
            color: #222328;
            font-weight: 700;
            margin-bottom: rem(20px);
        }
        p {
            color: #4f5362;
            @include truncate(3);
        }
    }
}

.aws-details {
    padding: rem(60px) 0; 
    background: #162e49;
    .flex-wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: rem(55px);
        border-bottom: 1px solid #4a5b71;
        margin-bottom: rem(35px);
        .image {
            flex: 0 0 268px;
            margin-left: rem(60px);
        }   
        p {
            color: #d8d8d8;
            line-height: 2;
            margin: 0;
        }
    }
    .detail-wrapper  {
        display: flex;
        justify-content: space-between;
    }
    .detail {
        li {
            color: #ffffff;
            margin-bottom: 8px;
        }
    }
}

.aws-comparison {
    background: #26384f;
    position: relative;
    overflow: hidden;
    .flex-wrapper {
        display: flex;
        > div {
            padding-top: rem(60px);
            padding-bottom: rem(55px);
            h3 {
                color: #06314e;
                font-size: rem(33.33px);
                font-weight: 700;
                    line-height: 1;
                    margin-bottom: rem(32px);
            }
            h5 {
                color: #06314e;
                font-size: rem(14px);
                font-weight: 700;
                margin-bottom: rem(30px);
                text-align: left;
                text-transform: uppercase;
                font-family: $mon;
                padding-top: rem(10px);
            }
            p {
                color: #06314e;
                font-size: rem(18px);
            }
            a.learn-more {
                color: var(--green);
                text-transform: uppercase;
                font-size: rem(12px);
                float: right;
                margin-top: -32px;
                &:hover {
                    text-decoration: underline;
                }
            }
            &.right-side {
                flex: 1;
                padding-left: rem(130px);
                 position: relative;
                h3 {
                    color: #ffffff;
                }
                p {
                    color: #a8acb9;
                }
                .has-margin {
                    margin-top: rem(128px);
                }
                &:before {
                    width: 81px;
                    height: 715px;
                    background: url('../images/aws-pattern.png');
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    content: "";
                    z-index: 2;
                }  
            }
            &.left-side {
                background: #99d1eb;
                flex: 0 0 47%;
                position: relative;
                    box-shadow: 0 0px 0px 0px #99d1eb, -500px 0 0px 0px #99d1eb;
                    padding-right: rem(60px);
                    .button-row {
                        margin-top: rem(45px);
                    }

                 
            }
        }
    }
    
    
}

.contact-sec {
    form {
        max-width: 750px;
        margin: auto;
    }
}

// case-study page 
.caseStudy_wrapper {
    .main-banner {
        .caption {
            h1 {
                color: #ffffff;
            }
        }
        .image {
            &:after {
                // background: rgba(53, 61, 84, 0.62);
            }
        }
    }
    .desc-wrapper {
        display: flex;
        justify-content: space-between;
        h2 {
            color: #134566;
            font-size: rem(20px);
            font-family: $mon;
            font-weight: 700;
            margin-bottom: rem(25px);
        }
        p {
            color: var(--textSecondary);
            font-size: rem(18px);
            margin-bottom: rem(35px);
            font-family: $mon;
        }
        > div {
            &:not(.desc-box) {
                flex: 1;
                
            }
        }
        .desc-box {
            border: 1px solid #f0f2f7;
            border-radius: 6px;
            padding: rem(30px);
            flex: 0 0 300px;
            max-width: 300px;
            margin-left: rem(65px);
        }
    }
}

.inner-content {
    background-color: #ffffff;
    border-radius: 6px;
    padding: rem(60px) rem(65px);
    margin-top: rem(-100px);
    // z-index: 3;
        position: relative;
}

// case-study page 